.voc-panel {
    width: 425px;
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    justify-content: stretch;
}
.voc-panel > *:first-child {
    border-radius: 2px 2px 0 0;
}
.voc-panel > *:last-child {
    border-radius: 0 0 2px 2px;
}
.voc-panel > .heading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 12px;
    background-color: #213038;
    font-size: 18px;
    color: #fff;
    height: 53px;
}
.voc-panel > .heading > * {

}
.voc-panel > .content {
    /*display: flex;*/
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    padding: 28px 23px 23px 21px;
    background-color: #384B54;
}
.voc-panel > .content .main {
    padding-bottom: 40px;
}
.voc-panel > .content .content-footer {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
}
.voc-panel > .content .content-footer .btn {
    width: 100%;
}

.voc-panel .input:not(:focus), .voc-panel select:not(:focus) {
    background-color: #31434c;
    border-color: #31434c;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.07);
}
.voc-form > * + * {
    padding-top: 24px;
}
.voc-form .field-label.required:after {
    content: '*';
}
.voc-form .field-label {
    color: #fff;
    font-size: 9px;
    font-weight: 300;
    margin-bottom: 3px;
}
.bold900 {
    font-weight: 900;
}
.payment-method-img {
    height: 31px;
    width: 51px;
    background: no-repeat center;
    background-size: contain;
    margin-top: 10px;
    margin-bottom: 17px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}
.voc-panel .note {
    font-size: 12px;
}

.popup-panel {
    width: 332px;
}
.popup-panel .voc-panel {
    width: 332px;
}
.popup-panel .voc-panel .heading {
    justify-content: space-between;
    padding-left: 18px;
    padding-right: 18px;
    font-size: 16px;
    background-color: #213038;
}
.popup-panel .voc-panel .content {
    padding: 24px 19px 23px;
    min-height: 148px;
    justify-content: space-between;

}
.popup-panel .voc-panel .content .main {
    padding-bottom: 0;
}
.popup-panel .voc-panel .content .main .note {
    font-size: 11px;
    margin: 0 0 7px;
    color: #c4c4c4;
}
.popup-panel .voc-panel .content .main .note b {
    color: #fff;
}
.popup-panel .voc-panel .content .main .body {
    color: #fff;
    font-size: 14px;
    margin-bottom: 24px;
}
.popup-panel .voc-panel .content .main .pre-footer-text {
    color: #00BBD4;
    font-size: 11px;
    line-height: 18px;
    font-weight: 500;
}
.popup-panel .voc-panel .content .content-footer a.btn {
    font-weight: 700;
}

.restriction-modal .voc-panel .content .content-footer a.btn {
    font-weight: 900;
    font-size: 13px;
}
.restriction-modal .voc-panel .content .content-footer {
    margin-right: 5px;
}

.more-requests-modal .voc-panel .heading {
    padding-right: 20px;
}

.more-requests-modal .voc-panel .content {
    padding: 11px 19px 23px;
    line-height: 17px;
}

.more-requests-modal .voc-panel .select2 {
    font-size: 11px;
    background-color: #162329;
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}

.more-requests-modal .voc-panel .content-footer .btn-primary {
    font-size: 13px;
    font-weight: 900;
}

ul.unstyled {
    list-style: none;
}

.popup-panel ul.checklist {
    padding-left: 28px;
    line-height: 17px;
}

.restriction-modal .voc-panel .content {
    padding-right: 16px;
}

ul.checklist li {

}
ul.checklist li::before {
    width: 13px;
    height: 15px;
    content: "";
    display: block;
    position: absolute;
    left: 30px;
    background-image: url("/images/icon/pro-plan-check-mark.svg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 4px;
}

.page-close .close-btn {
    display: block;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 26px;
    font-weight: 900;
    color: #ffffff;
}
.page-close .close-btn:hover {
    text-decoration: none;
    color: #00bbd4;
}
input[name=question-first] {
    margin-right: 5px;
}
input[name=question-second] {
    margin-right: 5px;
}
.question {
    margin-bottom: 10px;
}
.body-question {
    margin-bottom: 25px;
}
.question-false {
    display: none;
    color: tomato;
}