.discover-item .user-list-track {
    padding: 0;
    margin: 0;
}

.discover-item .vocalizr-player-container {
    margin-left: 55px;
}

.discover-item .vocalizr-player-container.wide {
    padding-top: 16px;
    padding-bottom: 35px;
    margin-right: 55px;
}

.discover-item .cycle-slideshow {
    /*height: 100px;*/
    display: flex;
}
.profile-audio-preview-container {
    display: none;
}
.discover-item {
    border: 1px solid #384B54;
    width: 100%;
    margin-bottom: 12px;
    position: relative;
    color: #01C2E5;
}
.discover-item .media {
    display: block;
    padding: 0 19px 0 0;
    vertical-align: top;
    overflow: initial;
}
.discover-item .media .avatar {
    width: 80px;
    height: 80px;
}
.discover-item .media .avatar a {
    display: block;
    width: 80px;
    height: 80px;
    background-color: #a8acb1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.discover-item .info-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.discover-item .info-grid {
    display: grid;
    grid-template-columns: auto auto;
}

.discover-item .info-grid > .user-info {

}
.discover-item .info-grid > .info-rows {
    grid-row-start: 2;
}
.discover-item .info-grid > .right-column {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.discover-item .info {
    display: table-cell;
    padding: 0;
}
.discover-item .location {
    margin-bottom: 10px;
    color: #5C6F79;
    font-weight: 500;
    line-height: 18px;
}
.discover-item .location-white {
    margin-bottom: 10px;
    color: #fff;
    font-weight: 500;
    line-height: 18px;
}
.discover-item .sounds-like, .discover-item .vocal-style, .discover-item .vocal-characteristics, .discover-item .studio-access, .discover-item .microphone {
    line-height: 20px;
}
.discover-item .info li {
    margin: 0;
    padding: 0;
    display: inline-block;
    color: #8698A3;
    font-weight: 500;
}
.discover-item .info li:first-child {
    color: #ffd600;
}
.discover-item .username {
    font-size: 18px;
    color: #01c2e5;
}
.discover-item .info .name {
    display: flex;
    align-items: center;
}
.discover-item .info .name > *:not(:last-child) {
    margin-right: 7px;
}
.user-search .discover-item .info .name > :not(:last-child) {
    margin-right: 5px;
}
.discover-item .info .name > .badge {
    font-size: 10px;
    font-weight: 700;
    line-height: 1;
    background-color: #00A186;
    border-radius: 200px;
    padding: 4px 6px 3px 8px;
    height: 19px;
}
.discover-item .info .name .vocalizr-certified {
    width: 19px;
    height: 19px;
    background-size: contain;
    margin: 0;
    margin-bottom: 1px;
}

.discover-item .info .name .vocalizr-certified-stamp {
    background-size: contain;
    margin: 0;
}

.user-search .discover-item .info .name .vocalizr-certified-stamp {
    margin-bottom: -3px !important;
}

.user-search .discover-item .info .name .vocalizr-certified-stamp-clipped {
    margin-bottom: -1px;
}

.discover-item .info .name .svg-badge-pro {
    margin-bottom: 1px;
}

.discover-item .footer {
    padding: 0 18px;
    background: #384B54;
}
.discover-item .footer .star-rating {
    width: auto !important;
}
.discover-item .footer .star-rating > img {
    margin-left: -1px;
    margin-top: -3px;
}
.discover-item .footer .rating-text {
    display: inline-block;
    font-size: 11px;
    font-weight: 700;
    margin-right: 2px;
    margin-left: 37px;
}
.discover-item .footer .reviews {
    font-size: 11px;
    font-weight: 700;
    color: #01c2e5;
}

.discover-item .footer .reviews:not([href]) {
    color: #6C808A;
}

.discover-item .footer .bid-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-top: 1px;
}
.discover-item .footer .pull-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.discover-item .audio-nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 57px;
    padding-bottom: 1px;
}

#bids-wrap.project .audio-nav .audio-prev, #bids-wrap.project .audio-nav .audio-next {
    top: initial;
    bottom: initial;
}

#bids-wrap.project .cycle-slideshow .vocalizr-player-container.wide {
    padding-bottom: 8px;
}

.discover-item .audio-nav .audio-prev, .discover-item .audio-nav .audio-next {
    display: flex;
    justify-content: center;
    align-items: center;
    right: initial;
    top: initial;
    bottom: initial;
    width: 23px;
    height: 19px;
    font-size: 16px !important;
    font-weight: 100 !important;
    margin-right: 7px;
    position: relative;
    padding: 0;
}
.discover-item .audio-nav .audio-next {
    margin-right: 0;
}
.discover-item .audio-nav .audio-prev, .discover-item .audio-nav .audio-next {
    bottom: 0;
}

.discover-item {
    margin-bottom: 20px;
}
#bids-wrap .discover-item .bid-amount, .discover-item .bid-amount {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    right: initial;
    font-size: 36px;
    font-weight: 100;
    text-align: center;
    line-height: 1;
    margin-top: 4px;
    color: #01c2e5;
}
.discover-item .bid-amount .currency {
    color: #6c808a;
}
.discover-item .user-audio-wrap {
    margin-left: 74px;
}

.discover-item .btn-space-after {
    margin-right: 5px;
}
.discover-item .item-body {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    padding-top: 16px;
    padding-right: 19px;
    padding-left: 18px;
    padding-bottom: 17px;
}
.discover-item .media .avatar {
    margin-left: 0;
}

.item-body .item-top {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.discover-item .item-audios {
    position: relative;
    width: 100%;
}
.discover-item.simple .item-body {
    flex-direction: row;
    padding-bottom: 5px;
}
.discover-item.simple .item-body .item-left {
    width: 100%;
}
.discover-item.simple .user-audio-wrap {
    margin-left: calc(74px - 17px);
}
.discover-item.simple .username {
    font-size: 14px;
    font-weight: 300;
}
.discover-item.simple .info .name > *:not(:last-child) {
    margin-right: 8px;
}

.discover-item.simple .item-body .item-right {
    margin-top: -2px;
    min-width: 64px;
}
.discover-item.simple .info {
    display: flex;
}
.discover-item.simple .info > *:not(:last-child) {
    margin-right: 10px;
}
.discover-item.simple .bid-amount {
    margin-top: 0;
    font-size: 24px !important;
}
.discover-item.simple .bid-amount .currency {
    font-size: 11px !important;
    margin-top: 4px;
}
.discover-item.simple .user-audio-wrap {
    padding-top: 15px;
    padding-bottom: 0 !important;
}
.discover-item.simple .user-list-track {
    padding-bottom: 0;
}

.discover-item.simple .bid-amount {
    justify-content: flex-end;
}

.discover-item .cycle-slideshow {
    align-self: stretch;
}

.discover-item .item-body.has-controls {
    position: relative;
}

.discover-item .item-body .item-bottom {
    width: 100%;
}

.discover-item.contest-bid .vocalizr-player-container {
    margin-left: 0;
    padding-bottom: 0;
    padding-top: 15px;
    min-width: 100%;
}

.discover-item.contest-bid .item-body {
    padding-bottom: 0;
}

.discover-item.contest-bid .award-bid {
    margin-bottom: 0 !important;
}

.discover-item .item-body.has-controls .vocalizr-player-container.wide {
    padding-bottom: 12px;
}
.discover-item .info-columns .right-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.discover-item .info-columns .connection-count {
    position: relative;
    margin-top: 5px;
    right: initial;
    top: initial;
}

.discover-item .info-columns  .connect-status {
    position: relative;
    margin-top: 5px;
    right: 0;
    top: 0;
}

.discover-item .item-body .user-audio-actions {
    margin-left: 99px;
}

.discover-item .item-body.has-controls .audio-nav {
    position: absolute;
    bottom: 0;
    right: 0;
}

.vocalizr-panel-grey {
    background: #202F37;
    box-shadow: 0 4px 0 #27343C;
}

.vocalizr-panel-grey .panel-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 23px 5px 18px;
    background: #4A5C66;
    box-shadow: 0 4px 0 #27343C;
    font-weight: 500;
    font-size: 16px;
}

.vocalizr-panel-grey .panel-body {
    background: #202F37;
    box-shadow: 0px 4px 0px #27343C;
}

.vocalizr-panel-grey .panel-body .small {
    font-size: 11px;
    line-height: 14px;
    font-weight: 500;
    color: #8698A2;
}

.vocalizr-panel-grey .panel-body {
    padding: 10px 22px 15px 18px;
}

.edit-contest-panel .options {
    padding: 5px 28px 9px 4px;
}

.edit-contest-panel .panel-body .option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding-bottom: 2px;
}

.edit-contest-panel .panel-body .option label {
    min-width: 150px;
}

.edit-contest-panel .panel-body .option .price-box {
    font-weight: 500;
    font-size: 15px;
}

.edit-contest-panel .panel-body .panel-buttons {
    display: flex;
}

.edit-contest-panel .panel-body .panel-buttons .btn {
    width: 100%;
    height: 31px;
}

.edit-contest-panel .panel-body .panel-buttons .total-box {
    background: #162329;
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.25);
    border-radius: 1px;
    width: 116px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 15px;
    color: #fff;
}

.edit-contest-panel .panel-body label {
    color: #fff;
    text-transform: none;
}

.edit-contest-panel .iradio_polaris, .black-check .iradio_polaris {
    margin-left: 9px;
    background-image: url('../../images/polaris_black.png');
}

.black-check .iradio_polaris {
    margin-bottom: 0;
}

.discover-item .btn.btn-show-bid-highlight-modal {
    background-color: #01c2e5;
}

.discover-item.highlighted {
    border: 1px solid #268aff !important;
}

.discover-item.highlighted + .discover-item.highlighted {
    margin-top: 15px;
}

.discover-item.highlighted + .discover-item:not(.highlighted) {
    margin-top: 20px;
}

.tab-pane .discover-item.highlighted {
    padding-bottom: 0;
}

.discover-item.highlighted .footer {
    background-color: #385477;
}

.discover-item.highlight-option-1 {
    background-color: #2C72C6;
    filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.2));
}

.discover-item.highlight-option-1 .vocalizr-player .play-btn {
    background-color: #385477;
}

.discover-item.highlight-option-2 {
    background-color: #304967;
    filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.2));
}

.discover-item.highlight-option-1 .item-body {
    position: relative;
    border-bottom: 1px solid #268AFF;
    box-sizing: border-box;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
}

.discover-item.highlight-option-1 a.username {
    color: #fff;
}

.discover-item.highlight-option-2 .track-label {
    background-color: #28394e;
}

.discover-item.highlight-option-1 .track-label {
    background-color: #385477;
}

.discover-item.highlight-option-2 .location {
    color: #8498a2;
}

.discover-item.highlight-option-1 .location {
    color: #213038;
}

.discover-item.highlight-option-1 .bid-amount .value, .discover-item.highlight-option-1 .bid-amount .currency-symbol {
    color: #fff;
}

#bids-wrap.project .discover-item.highlight-option-1 .bid-amount .currency {
    color: #c4c4c4;
}


.discover-item.highlight-option-2 .sounds-like li:not(:first-child),
.discover-item.highlight-option-2 .studio-access li:not(:first-child),
.discover-item.highlight-option-2 .microphone li:not(:first-child),
.discover-item.highlight-option-2 .rating-text,
.discover-item.highlight-option-2 .rating-text
{
    color: #c4c4c4 !important;
}

.discover-item.highlight-option-1 .rating-text,
.discover-item.highlight-option-1 .span.reviews
{
    color: #fff !important;
}

.discover-item.highlight-option-1 .sounds-like li:not(:first-child),
.discover-item.highlight-option-1 .studio-access li:not(:first-child),
.discover-item.highlight-option-1 .microphone li:not(:first-child)
{
    color: #213038;
}


.discover-item.highlight-option-2 .audio-nav > a {
    background-color: #536d8c;
}

.discover-item.highlight-option-1 .audio-nav > a {
    background-color: #385477;
    border: none;
}

.discover-item.highlight-option-1 .track-label {
    color: #fff;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
    .edit-contest-panel .iradio_polaris {
        background-image: url('../../images/polaris_black2x.png');
    }
}

/* mobile only */
@media (min-width : 320px) and (max-width : 768px)
{
    .discover-item .info-grid {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(3, auto);
    }

    .discover-item .info-grid > .user-info {
        grid-row-start: 1;
        grid-column-start: 1;
    }
    .discover-item .info-grid > .info-rows {
        grid-row-start: 3;
        grid-column-start: 1;
    }
    .discover-item .info-grid > .right-column {
        grid-column-start: 1;
        grid-row-start: 2;
    }

    .discover-item .info-grid .connection-count {
        margin-top: 0;
    }

    .discover-item .item-body .user-audio-actions {
        margin-left: 44px;
    }
    .discover-item .item-body {
        flex-direction: column;
        align-items: center;

    }

    .discover-item .vocalizr-player-container {
        margin-left: 0;
    }

    .discover-item .vocalizr-player-container.wide {
        padding-top: 16px;
        padding-bottom: 35px;
        margin-right: 0;
        align-self: stretch;
    }

    .item-body .item-top {
        flex-direction: column !important;
        align-items: center !important;
    }

    .item-body .item-top > * {
        margin-right: 0 !important;
        padding-right: 0 !important;
    }

    .discover-item .media {
        padding-right: 0;
        width: initial;
    }

    .discover-item .info-columns {
        flex-direction: column-reverse;
    }
    #bids-wrap .discover-item .bid-amount, .discover-item .bid-amount {
        padding-top: 9px;
        padding-bottom: 12px;
        justify-content: center;
    }
    .discover-item .info .name {
        justify-content: center;
    }

    .discover-item .user-audio-wrap {
        margin-left: 0 !important;
    }
    .discover-item.simple .item-body {
        flex-direction: column-reverse;
        justify-content: center;
    }
    .discover-item.simple .item-body .item-left {
        margin-right: 0;
    }
    .discover-item.simple .info {
        justify-content: center;
    }

    .discover-item .audio-nav {
        justify-content: center;
    }

    .discover-item .audio-nav {
        margin-bottom: 0;
    }
    .discover-item .audio-nav {
        padding-right: 0;
    }
}

/* when audio controls breaks */
@media (max-width: 355px) {
    .discover-item .item-body.has-controls .audio-nav {
        bottom: initial;
        top: 20px;
    }
    .vocalizr-player-container .track-label-container {
        max-width: calc(100% - 105px);
    }
}
