@font-face {
    font-family: 'Museo';
    src: url('/fonts/museo_900-webfont.woff2') format('woff2'),
    url('/fonts/museo_900-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Museo';
    src: url('/fonts/museo700-regular-webfont.woff2') format('woff2'),
    url('/fonts/museo700-regular-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Museo';
    src: url('/fonts/museo500-regular-webfont.woff2') format('woff2'),
    url('/fonts/museo500-regular-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Museo';
    src: url('/fonts/museo_300-webfont.woff2') format('woff2'),
    url('/fonts/museo_300-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Museo';
    src: url('/fonts/museo_100-webfont.woff2') format('woff2'),
    url('/fonts/museo_100-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
    height: initial;
}
/*html, body {*/
    /*height: initial;*/
    /*min-height: 100vh;*/
/*}*/
body {
    background-color: #2d3d45;
}
p {
    margin: 0;
}
.centered-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    min-height: 100vh;
}
.centered-content .left-offset {
    width: 0;
}
.centered-content .right-offset {
    width: 0;
}
.split-container {
    display: flex;
    flex-direction: row;
    min-height: 100%;
    min-width: 100%;
    justify-content: stretch;
    align-items: stretch;
    max-width: 1200px;
}
.split-container > * {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.split-container > .left-block {
    background-color: #2d3d45;
    align-items: flex-end;
    flex: 0 1 48.3%;
}
.split-container > .right-block {
    background: linear-gradient(to bottom, #4FACFE 0px, #00F2FE 1537px);
    mix-blend-mode: hard-light;
    align-items: flex-start;
    padding-left: 0;
    padding-bottom: 43px;
    flex: 0 1 51.8%;
}
.main-w-side-layout > .left-block {
    flex-basis: 67.17%;
}
.main-w-side-layout > .right-block {
    flex-basis: 32.84%;
}
.main-w-side-layout > .left-block > .vertical-container {
    margin-left: 0;
}
.vertical-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: stretch;
    --vertical-gap: 46px;
    margin-left: 41px;
    margin-right: 41px;
}
.horizontal-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    --horizontal-gap: 52px;
}
.split-container > .right-block {
    font-family: Museo;
    /*letter-spacing: -0.3px;*/
}
.left-block > .vertical-container {
    margin-right: 91px;
}
.membership-page .left-block > .vertical-container {
    margin-right: 93px;
}
.space-between {
    justify-content: space-between;
}
.vertical-container > * + * {
    margin-top: var(--vertical-gap);
}
.horizontal-container > * + * {
    margin-left: var(--horizontal-gap);
}
.horizontal-container.reverse {
    flex-direction: row-reverse;
}
.horizontal-container.reverse > * + * {
    margin-right: var(--horizontal-gap);
    margin-left: initial;
}
.text-description {
    font-size: 22px;
    line-height: 26px;
    color: #fff;
}
.membership-page .text-description {
    padding-right: 2px;
}
.btn {
    font-weight: 700;
}
.btn:hover {
    font-weight: 700;
}
.font-grades:nth-child(1) {
    font-weight: 100;
}
.font-grades:nth-child(2) {
    font-weight: 300;
}
.membership-page .font-grades:nth-child(2) {
    margin-top: 43px;
}
.font-grades:nth-child(3) {
    font-weight: 500;
}
.font-grades:nth-child(4) {
    font-weight: 700;
}
.membership-page .font-grades:nth-child(3) {
    margin-top: 39px;
}
.membership-page .font-grades:nth-child(4) {
    margin-top: 46px;
}
.membership-page .right-block > .vertical-container {
    margin-right: 27px;
}
.payment-page .font-grades:nth-child(4) {
    margin-top: 30px;
}
.hint .hint-title {
    font-size: 18px;
    margin-bottom: 16px;
    font-family: "Museo Sans",  sans-serif;
    letter-spacing: initial;
}
.membership-page .hint .hint-title {
    margin-bottom: 19px;
}
.logo-header {
    padding-top: 50px;
    padding-bottom: 4px;
}
.section-header {
    padding-top: 46px;
    padding-bottom: 33px;
}
.payment-page .section-header {
    padding-bottom: 27px;
}
.membership-page .section-header {
    padding-top: 48px;
    padding-bottom: 31px;
}
.section-header > h1 {
    color: #fff;
    font-weight: 500;
    font-size: 32px;
}
.payment-page .section-header > h1, .register-success .section-header > h1 {
    line-height: 38px;
}
.max-space {
    flex: 0 1 100%;
}
.min-space {
    flex: 0 0 auto;
}
.align-left {
    align-items: flex-start;
}
.align-left > .vertical-container {
    padding-left: 20px;
}
.voc-panel.plan > .heading {
    justify-content: space-between;
    padding: 13px 17px 11px 17px;
    font-weight: 700;
    font-size: 24px;
}
.payment-page .voc-panel.plan > .heading {
    padding-left: 20px;
}
.voc-panel.plan > .content{
    padding: 11px 17px 17px;
}
.payment-page .voc-panel.plan > .content {
    padding-left: 19px;
}
.voc-panel.pro {
    width: 320px;
}
.voc-panel.pro > .heading {
    background: #17242B;
}
.payment .voc-panel.pro {
    width: 332px;
}
.payment .left-block > .vertical-container {
    margin-right: 42px;
}
.voc-panel.pro ul {
    padding-left: 30px;
}
.voc-panel.plan li {
    font-weight: 500;
    position: relative;
    display: flex;
    align-items: center;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 10px;
}
.voc-panel.plan li.multiple {

}
.voc-panel.pro li:before {
    width: 14px;
    height: 15px;
    content: "";
    display: block;
    position: absolute;
    left: -30px;
    top: 1px;
    background-image: url("/images/icon/pro-plan-check-mark.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
.payment-page .voc-panel.pro li:before {
    left: -25px;
}
.voc-panel.free {
    width: 280px;
    background: #213038;
}
.voc-panel.plan .title {
    font-size: 18px;
    padding-bottom: 24px;
}
.payment-page .voc-panel.plan .title {
    padding-top: 10px;
    padding-bottom: 14px;
}
.voc-panel.plan li b {
    font-weight: 900;
}
.voc-panel ul {
    list-style: none;
    padding-left: 22px;
}
.voc-panel.plan.free ul {
    margin-bottom: 114px;
}
.voc-panel.payment {
    align-self: flex-start;
    width: 332px;
}
.voc-panel.payment > .heading {
    justify-content: flex-start;
    padding-left: 17px;
    font-size: 16px;
}
.voc-panel.payment > .content {
    padding: 11px 13px 15px 17px;
}
.voc-panel.payment label {
    font-size: 9px;
    margin-bottom: 4px;
}
.voc-panel.payment button {
    font-size: 13px;
    padding-left: 11px;
    padding-right: 11px;
    min-width: 139px;
}

.plan .plan-cost {
    font-size: 24px;
    font-weight: 300;
    padding-bottom: 32px;
}
.payment-page .plan .plan-cost {
    padding-bottom: 22px;
}
.plan-cost .small {
    font-size: 14px;
}
.plan-cost .small:empty {
    padding-top: 20px;
}
.voc-panel.plan .main {
    padding-bottom: 32px;
}
.payment-page .voc-panel.plan .main {
    padding-bottom: 11px;
}
.voc-panel.payment .main {
    padding-bottom: 0;
}
.voc-panel select {
    height: 28px;
    font-size: 12px;
    padding-left: 7px;
}
.panel-muted {
    display: block;
    font-size: 9px;
    color: #B7B7B7;
    margin-top: 15px;
    margin-left: 16px;
}
.panel-muted > * + * {
    padding-left: 6px;
}

.badge-recommend {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #57B35B;
    border-radius: 2px;
    height: 18px;
    font-size: 10px;
    padding-left: 9px;
    padding-right: 9px;
}

.badge-new {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4FACFE;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    font-size: 10px;
    padding-left: 4px;
    padding-right: 4px;
    height: 16px;
    margin-right: 5px;
    font-weight: 900;
    margin-top: -3px;
}

.register-success.vertical-container {
    margin-left: 62px;
    margin-right: 62px;
}
.register-success .section-header {
    padding-top: 57px;
}
.register-success .btn {
    margin-top: 18px;
    font-size: 15px;
    max-width: 380px;
    width: 100%;
}
.double-blue-background {
    background: url("/images/background/multiple-blue-gradients.svg") no-repeat;
    background-size: cover;
    transition: background-position .5s ease-in;
}
.signup-page label {
    text-transform: none;
}
.signup-page label > small {
    font-size: 14px;
    color: #b7b7b7;
}
.signup-page .right-block {
    align-items: center;
}
.signup-page .left-block > .vertical-container {
    margin-right: 93px;
}
.signup-page .voc-panel > .content .main {
    padding-bottom: 38px;
}
.signup-page .btn {
    font-size: 15px;
}
.membership-page .btn {
    font-size: 15px;
}
.membership-page .btn:focus {
    text-transform: none;
}
.btn {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    text-transform: none;
}
.btn-primary {
    background-color: #00BBD4;
}
.btn-default {
    background-color: #506671;
}
.voc-form .field-label.required::after {
    content: '';
}
.owl-carousel .owl-stage-outer {

}
.drop-shadow {
    box-shadow: 0 40px 50px rgba(0, 0, 0, 0.2);
}
.lock-image {
    background-image: url("/images/icon/lock.svg");
    width: 9px;
    height: 10px;
    display: inline-block;
}
.block-only-mobile {
    display: inline-block;
}
.right-block b {
    font-family: "Museo";
    font-weight: 900;
}
.signup-page .voc-form label.field-label {
    font-size: 14px;
}

@media screen and (min-width: 1200px) {
    .centered-content {

    }
    .split-container {
        min-width: 1200px;
        justify-content: stretch;
        align-items: stretch;
        max-width: 1200px;
    }
    .centered-content .left-offset, .centered-content .right-offset {
        flex-grow: 1;
    }
    .centered-content .right-offset {
        background: linear-gradient(to bottom, #4FACFE 0px, #00F2FE 1537px);
        mix-blend-mode: hard-light;
    }
}
@media screen and (max-width: 1134px) and (min-width: 1000px) {
    .vertical-container {
        margin-left: 20px !important;
        margin-right: 20px !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    * {
        --horizontal-gap: 10px !important;
    }
}
@media screen and (max-width: 700px) {
    .centered-content {
        display: block;
    }
    .block-only-mobile {
        display: block;
        height: 1em;
    }
    .split-container {
        flex-direction: column;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: bottom;
        background-image: url("/images/background/mobile-blue.svg");
        background-color: #2D3D45;
        background-blend-mode: hard-light;
        /*transition: background-position 500ms ease-in;*/
    }
    .split-container .left-block, .split-container .right-block {
        align-items: center;
        background: none;
    }
    .double-blue-background {
        background-color: #fff;
        background-blend-mode: hard-light;
        background: url("/images/background/mobile-success.svg") no-repeat;
        background-size: 100%, 10%;
        background-position: center bottom -71px;
    }
    .main-w-side-layout .left-block > .vertical-container {
        align-self: flex-start;
    }
}
@media screen and (max-width: 1000px) {
    .signup-page .left-block > .vertical-container .voc-panel {
        max-width: 380px;
        margin-left: 6.25%;
        margin-right: 6.25%;
        align-self: center;
        width: 100%;
    }
    .lock-image {
        background-image: url("/images/icon/lock-mobile.svg");
        width: 6px;
        height: 7px;
    }
    .mobile-column-reverse {
        flex-direction: column-reverse;
    }
    .mobile-column-reverse > * + * {
        margin-left: 0;
        margin-bottom: var(--horizontal-gap);
    }

    .main-w-side-layout .left-block > .vertical-container {
        margin-left: 0;
        margin-right: 0;
        align-self: flex-start;
    }

    .mobile-h-scrollable {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
    }
    .mobile-h-scrollable > * {
        flex: 0 0 auto;
    }

    .vertical-container {
        margin-left: 20px;
        margin-right: 20px;
        max-width: 100vw;
    }

    .voc-panel.plan {
        height: 436px;
        width: 220px;
        box-shadow: 0 4px 50px rgba(0, 0, 0, 0.25);
    }
    .voc-panel.free {

    }
    .voc-panel.pro {

    }
    .voc-panel.plan > .heading, .voc-panel > .heading {
        font-size: 18px;
        padding: 10px 16px 8px 12px;
        height: 44px;
    }
    .badge-recommend {
        font-size: 8px;
        width: 72px;
        margin-bottom: 3px;
        padding: 0;
        height: 15px;
    }
    .logo-header {
        padding-top: 22px;
    }
    .logo-header > img {
        width: auto;
        height: 28px;
    }
    .section-header {
        padding-top: 26px;
        padding-bottom: 12px;
    }
    .section-header > h1 {
        font-size: 14px;
    }
    .voc-panel.plan .title {
        font-size: 14px;
        padding-bottom: 5px;
    }
    .voc-panel.plan > .content {
        padding: 9px 12px 12px;
    }
    .plan .plan-cost {
        font-size: 18px;
        padding-bottom: 13px;
    }
    .plan-cost .small {
        font-size: 12px;
        padding-top: 3px;
    }
    .voc-panel.pro ul {
        padding-left: 26px;
    }
    .voc-panel ul > li + li {
        margin-top: 7px;
    }
    .voc-panel.plan li {
        font-size: 11px;
    }
    .voc-panel.pro li:before {
        font-size: 11px;
        width: 13px;
        height: 16px;
        left: -25px;
        top: 2px;
    }
    .voc-panel.plan .main {
        padding-bottom: initial;
    }
    .voc-panel .btn {
        height: 31px;
        padding: 4px 21px 0 19px;
    }
    .right-block > .vertical-container {
        margin-top: 30px !important;
        margin-left: 28px;
        margin-right: 28px;
        --vertical-gap: 32px !important;
    }
    .signup-page .right-block > .vertical-container {
        margin-top: 37px !important;
        --vertical-gap: 24px !important;
    }
    .payment-page .right-block > .vertical-container {
        margin-top: 55px !important;
    }
    .hint .hint-title {
        font-size: 14px;
        margin-bottom: 22px;
    }
    .signup-page .hint .hint-title {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .payment-page .hint .hint-title {
        margin-bottom: 25px;
    }
    .text-description {
        font-size: 18px;
        line-height: 21px;
    }
    .voc-panel.payment > .heading {
        justify-content: flex-start;
        padding-left: 12px;
        font-size: 11px;
    }
    .payment-page .left-block > .vertical-container {
        width: 100%;
        padding-left: 0;
    }
    .payment-page .left-block > .vertical-container > .horizontal-container {
        align-self: center;
    }
    .payment-page .voc-panel {
        width: 278px !important;
    }
    .payment-page .logo-header, .payment-page .section-header{
        margin-left: 20px;
    }
    .payment-page .voc-panel.payment > .heading {
        height: 34px;
    }
    .payment-page .section-header {
        padding-top: 22px !important;
        padding-bottom: 12px;
    }
    .payment-page .section-header > h1 {
        line-height: 17px;
    }
    .voc-panel.payment > .content {
        padding: 6px 14px 15px;
    }
    .voc-panel .note {
        font-size: 9px;
    }
    .payment-method-img {
        height: 20px;
        width: 32px;
        margin-top: 5px;
        margin-bottom: 11px;
    }
    .horizontal-container.accept {
        --horizontal-gap: 8px !important;
    }
    .voc-panel.payment .btn {
        height: 23px;
        font-size: 11px;
        min-width: initial;
        padding-top: 0;
    }
    .voc-panel.payment label {
        margin-bottom: initial;
    }
    .voc-panel.payment .btn#paypal {
        width: 118px;
    }
    .voc-panel.payment .btn#start-mem {
        width: 127px;
    }
    .voc-panel.payment .horizontal-container.space-between {
        padding-top: 17px !important;
    }
    .panel-muted {
        color: #B7B7B7;
        margin-top: 12px;
        margin-left: 14px;
    }
    .panel-muted span {
        padding-left: 3px;
    }
    .payment-page .horizontal-container.mobile-column-reverse {
        --horizontal-gap: 27px !important;
    }
    .register-success.vertical-container {
        margin-left: 20px;
        margin-right: 20px;

    }
    .register-success h1 {
        font-size: 18px;
    }
    .signup-page .voc-panel {
        width: initial;
    }
    .signup-page .left-block > .vertical-container {
        margin-left: 20px;
        margin-right: 20px;
        align-items: stretch;
    }
    .signup-page .left-block {
        align-items: stretch;
    }
    .signup-page .voc-panel > .heading {
        font-size: 12px;
        height: 53px;
    }
    .signup-page .section-header {
        padding-top: 15px;
        padding-bottom: 9px;
    }
    .signup-page .voc-panel > .content {
        padding: 18px 15px 19px 14px;
    }
    .signup-page .voc-panel > .content .main {
        padding-bottom: 29px;
    }
    .signup-page .btn {
        height: 37px;
        padding: 0 21px 0 19px;
    }
    .membership-page .section-header {
        padding-top: 26px;
        padding-bottom: 13px;
    }
    .register-success .section-header {
        padding-top: 45px;
        padding-bottom: 17px;
    }
    .register-success .section-header > h1 {
        line-height: 25px;
    }
    .voc-panel.plan li {
         margin-bottom: 0;
    }
    .membership-page .btn {
        font-size: 13px;
        padding: 6px 21px 0 19px;
    }
    .membership-page .text-description {
        line-height: 22px;
    }
    .font-grades:not(:nth-child(1)) {
        margin-top: var(--vertical-gap) !important;
    }
    .font-grades:nth-child(1) {

    }
    .payment-page .font-grades:nth-child(3) {
        margin-top: 28px !important;
    }
    .payment-page .font-grades:nth-child(4) {
        margin-top: 34px !important;
    }
    .right-block b {
        font-family: "Museo";
        font-weight: 700;
    }
    .payment-page .voc-panel.payment > .content {
        padding: 8px 13px 11px;
    }
    .voc-panel select {
        font-size: 11px;
        padding-left: 5px;
        padding-top: 3px;
    }
    .payment-page .voc-panel.plan > .heading {
        padding-left: 16px;
        padding-top: 12px;
    }
    .payment-page .voc-panel.plan > .content {
        padding-left: 16px;
    }
    .payment-page .voc-panel.plan {
        height: 412px;
    }

    .voc-panel.plan.free ul {
        padding-left: 16px;
        margin-bottom: 122px;
    }
}
@media screen and (min-width: 700px) and (max-width: 1000px) {
    .right-block > .vertical-container {
        padding-top: 100px;
    }
    .main-w-side-layout .left-block > .vertical-container {
        align-self: flex-end;
    }
}
@media screen and (min-width: 500px) and (max-width: 1000px) {
    .membership-page .left-block > .vertical-container {
        align-self: center;
        padding-left: 0;
    }
    .horizontal-container {
        --horizontal-gap: 20px;
    }
}
@media only screen and (max-width: 480px) and (orientation: portrait), only screen and (max-height: 480px) and (orientation: landscape) {

}
