.vocalizr-logo {
    width: 80px;
    margin-top: -12px;
}
.img-vmag-logo {
    width: 131px;
}
.img-slogan {
    width: 80px;
    margin-left: 10px;
}
.banner-wrapper {
    text-align: center;
    margin: 30px 0;
}
.banner-wrapper > div {
    display: inline-block;
}
.side-col .banner-wrapper:first-child {
    margin-top: 0;
}
#navbar {
    margin-top: 6px;
}
#navbar li a {
    margin-top: 8px;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}
.vlogo a {
    border-right: 0.5px solid #fff;
    margin-right: 10px;
    padding-right: 26px !important;

}
@media (min-width: 768px) {
    .container {
        max-width: 1300px;
    }
}
.navbar-toggle .icon-bar {
    background: #fff;
}
.form-control {
    border-radius: 0px;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}
.btn {
    border-radius: 0px;
    padding: 5px 20px;
}
.btn-blue {
    background: #5489f7;
    color: #fff;
}
.btn-blue:hover {
    background: #4777d9;
    color: #fff;
}
.btn-dark {
    background: #2c2a3c;
    color: #fff;
}
.btn-dark:hover {
    background: #191823;
    color: #fff;
}

html {
  position: relative;
  min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background: #fbfbfb;
    font-family: 'Lato', sans-serif;
}
.header {
    background: #17314e;
}
.header .navbar {
    margin-bottom: 0;
}
.subnav {
    background: #f5f2f2;
    -webkit-box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.51);
    -moz-box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.51);
    box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.51);


}
.subnav a {
    font-size: 14px;
    text-transform: uppercase;
    color: #9b9b9b;
    padding-top: 23px;
    padding-bottom: 23px;
}
.subnav a.active, .subnav a:active, .subnav a:focus {
    text-decoration: underline;
    color: #4a4a4a;
    font-weight: bold;
}
/*
.subnav a.active:after {
    position: absolute;
    height: 1.5px;
    margin: 0 auto;
    content: '';
    left: 0;
    width: 78%;
    color: #4A4A4A;
    background-color: #4A4A4A;
    left: 0;
    bottom: 12px;
}
*/
.subnav li a:hover {
    background: none;
    color: #4a4a4a;
}
.nav>li>a:hover, .nav>li>a:focus {
    background: none;
}


.varticle {
    position: relative;
}
.varticle-content {
    width: 90%;
    margin: 400px auto 0 auto;
    background: #fff;
    padding: 20px;
}
.varticle-title {
    border-bottom: 1px solid #d1d1d1;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.varticle-content h1 {
    font-weight: 900;
    margin-top: 30px;
    max-width: 80%;
    letter-spacing: -1px;
    color: #000;
}
.category-badge {
    background: #f83468;
    color: #fff;
    float: right;
    font-size: 12px;
    padding: 5px 10px;
    margin-top: -28px;
    font-weight: 800;
}
.varticle-woff {
    color: #4a4a4a;
    font-size: 20px;
    margin-bottom: 20px;
    font-family: 'Amiri', serif;
}
.varticle-date {
    color: #9b9b9b;
    font-style: italic;
    font-size: 11px;
    font-family: 'Amiri', serif;
}
.article-image {
    position: absolute;
    z-index: -99;
    top: -400px;
}
.varticle-body {
    font-family: 'Crimson Text', serif;
    font-size: 16px;
}


.side-col {
    border-left: 0.5px solid #e6e6e6;
}
.side-col h2 {
    font-size: 14px;
    font-weight: 900;
    margin-top: 0;
}
.sub-header {
    margin-bottom: 20px;
}
.sub-header .line {
    border: 1px solid #24c9a4;
}
.sub-header-title {
    color: #fff;
    background: #24c9a4;
    font-size: 14px;
    font-weight: bold;
    float: right;
    padding: 5px 20px;
    margin-top: -17px;
    margin-bottom: 20px;
}
.sub-header.blue .line {
    border-color: #24C9A4;
}
.sub-header.blue .sub-header-title {
    background: #24C9A4;
    font-weight: 800;
}

.side-col-section {
    margin-bottom: 40px;
}
.box-advertise {
    background: #efefef;
    color: #fff;
    padding: 20px;
    font-weight: 900;
}
.box-advertise .text1 {
    font-size: 54px;
    line-height: 46px;
}
.box-advertise .text2 {
    font-size: 24px;
    margin-top: 20px;
}
.box-advertise .text3 {
    font-size: 30px;
    margin-top: 10px;
}
.box-advertise .btn {
    margin-top: 20px;
    font-weight: 900;
}

.frm-subscribe .btn {
    margin-top: 10px;
}

.varticle-block {
    cursor: pointer;
    display: table;
    width: 100%;
    background: #fff;
    margin-bottom: 25px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18)
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18)
    transition: all 0.2s ease-in-out;
}
.varticle-block:hover {
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}
.varticle-block-img {
    display: table-cell;
    width: 170px;
}
.varticle-info {
    display: table-cell;
    vertical-align: top;
}
.varticle-block-pad {
    padding: 15px;
}
.varticle-date {
    margin-top: 3px;
}

.varticles .label {
    position: absolute;
    left: -7px;
    top: 15px;
    font-size: 12px;
    padding: 10px 20px;
    border-radius: 0;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.42);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.42);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.42);
}
.label-blue {
    background: #0398d0;
}
.label-pink {
    background: #f83468;
}

.latest-item {
    margin-bottom: 26px;
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.latest-item:hover {

}
.lastest-item-img-large {
    width: 100%;
    height: 454px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.lastest-item-img-sml{
    width: 100%;
    height: 214px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.latest-item-info {
    padding: 10px 20px;
    margin-top: -69px;
    color: #fff;
    background: rgba(0,0,0,0.5);
    font-weight: bold;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
    position: absolute;
    bottom: 0;
    width: 100%;

}
.latest-item.sml .latest-item-info {
    margin-top: -40px;
}
.latest-item:hover .latest-item-info {
    margin-top: -87px;
    padding-bottom: 29px;
}
.latest-item-info .author {
    font-weight: normal;
    font-size: 14px;
}
.latest-item-title {
  width: 100%;
  font-size: 20px;
  letter-spacing: -1px;
  font-weight: 900;
  line-height: 24px;
}
.latest-item-title-lg {
    font-size: 30px;
    line-height: 31px;
    margin-bottom: 5px;
}
.lastest-item-short {
    font-weight: 600;
    font-size: 15px;
}
.varticles-home {
    margin-top: 10px;
}
.varticles .varticle-item:last-child {
    border-bottom: 0;
}
.varticle-item {
    border-bottom: 1px solid #cecece;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.varticle-recent-img, .varticle-item-img {
    position: relative;
}
.article-list-heading {
    margin-bottom: 10px;
}
.article-list-heading h3 {
    font-weight: 900;
    font-size: 33px;
}
.read-more {
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 10px;
    display: inline-block;
}
.varticle-item h3 {
    margin: 0;
}
.varticle-item h3 a, .varticle-item h3 a:hover {
    font-weight: bold;
    color: #000;
}
.article-extract {
    margin-top: 9px;
    font-family: 'Crimson Text', serif;
}
.varticles .paging {
    margin-left: 0;
}
.hirenow-btns {
    margin-top: 12px;
}

.welcome-vmag {
    font-family: 'Amiri', serif;
}


.paging {
    padding: 0 24px 0px 0px;;
}
.paging ul {
    padding: 8px 0;
}
.paging li {
    list-style: none;
    float: left;
    margin-right: 12px;
}
.paging li a {
    color: #333;
    text-decoration: underline;
}
.paging li.active a {
    text-decoration: none;
    font-weight: 500;
}

#footer {
    width: 100%;
    background: #333;
    margin-top: 80px;
    padding: 12px;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
#footer .copyright {
    color: #fff;
    display: inline-block;
}
#footer-nav {
    float: right;
    margin: 0;
}
#footer-nav li {
    float: left;
    list-style: none;
    margin-left: 18px;
}
#footer-nav li a {
    color: #fff;
}


@media (min-width : 768px) {
    .navbar-collapse {
        padding-left: 0;
        padding-right: 0;
    }
    .subnav li:first-child a {
        padding-left: 0;
    }

}
@media (max-width : 768px) {
    .vlogo a {
        border-right: 0;
    }
    .varticle-content {
        margin-top: 0;
        width: 100%;
    }
    .article-image {
        position: initial;
    }
}
@media (max-width : 1024px) {
    .article-image {
        top: -220px;
    }
    .varticle-content {
        margin-top: 220px;
    }
}
@media (max-width : 968px) {
    .varticle-content {
        margin-top: 0;
        width: 100%;
    }
    .article-image {
        position: initial;
    }
    .varticle {
        margin-left: -20px;
        margin-right: -20px;
    }
}
@media (max-width : 480px) {
    #header-nav {
        padding: 0;
    }
    .varticle-view .main-col {
        padding: 0;
    }
    #footer {
        position: initial;
    }
    .header > .container > a > img {
        width: 100px;
        height: 27px;
        margin-top: 12px;
    }
    #header-nav li:first-child {
        margin-left: 0;
        border: 0;
        padding-right: 0;
    }
    #header-nav li:first-child img {
        display: none;
    }
    #header-nav li {
        margin-left: 13px;
    }
    .img-vmag-logo {
        width: 100px;
    }
    .img-slogan {
        width: 80px;
        margin-left: 10px;
    }
    #footer-nav {
        padding: 0;
        float: none;
    }
    #footer-nav li {
        display: block;
        float: none;
        margin-left: 0;
        margin-bottom: 5px;
    }
    .latest-item:hover {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .varticle-item-img {
        margin-bottom: 20px;
    }
    .varticle-content h1 {
        font-size: 20px;
    }

    .varticle-content {
        padding-right: 20px;
        padding-left: 20px;
    }
    .varticle {
        margin-left: 0;
        margin-right: 0;
    }
}
