.vocalizr-player {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.discober-item .vocalizr-player-container {
    align-self: stretch;
}

.vocalizr-player-container {
    padding-top: 5px;
    padding-bottom: 15px;
}

.vocalizr-player-container .track-label-container {
    margin-left: 44px;
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.vocalizr-player-container .track-label-container.user-edit {
    display: inline-block;
}

.vocalizr-player-container .track-label {
    margin-left: 0;
    margin-bottom: -2px;
    line-height: 16px;
    font-size: 14px;
    border-radius: 0;
    background-color: #1F3038;
    z-index: 1000;
    padding-left: 10px;
    position: relative;
    max-width: 500px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.vocalizr-player-container input.track-label {
    border: none;
    background-color: #000;
}

.vocalizr-player-container .track-label span {

}

.vocalizr-player .waveform, .js-vocalizr-player .waveform {
    min-width: 100px;
    width: 100%;
}
.vocalizr-player > .play-btn {
    margin-right: 19px;
}

.vocalizr-player .play-btn, .js-vocalizr-player .play-btn {
    cursor: pointer;
    min-width: 25px;
    min-height: 25px;
    max-width: 25px;
    max-height: 25px;
    background-color: #01C2E5;
    padding: 5px;
    border-radius: 50%;
    transition: background-color .5s;
}
.js-vocalizr-player.top-tracks .play-btn {
    min-width: 30px;
    min-height: 30px;
    max-width: 30px;
    max-height: 30px;
}
.vocalizr-player .play-btn.error, .js-vocalizr-player .play-btn.error {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ED3333;
    padding: 0;
    color: #fff;
}
.vocalizr-player .play-shape, .js-vocalizr-player .play-shape {
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 12px;
    border-color: transparent transparent transparent #fff;
    transition: 200ms all ease-in;
    border-style: solid;
    border-width: 6px 0 6px 10px;
    margin: 1px 0 0 4px;
}
.vocalizr-player .play-shape.paused, .js-vocalizr-player .play-shape.paused {
    border-style: double;
    border-width: 0 0 0 12px;
    margin-left: 2px;
}
.vocalizr-player .play-shape:hover, .js-vocalizr-player .play-shape:hover {
    border-color: transparent transparent transparent #ececec;
}
.vocalizr-player .track-time {
    z-index: 100;
    background-color: #fff;
    color: #58646b;
    font-size: 9px;
    font-family: monospace;
    position: absolute;
    top: 36%;
    pointer-events: none;
    transition: opacity 0.2s ease-in;
    padding-left: 1px;
    padding-right: 1px;
}
.vocalizr-player .track-current {
    left: 0;
}
.vocalizr-player .track-duration {
    right: 0;
}
.vocalizr-player .track-time.hidden {
    display: block !important;
    opacity: 0;
    transition: opacity 0.1s ease-out;
    visibility: visible !important;
}

.vocalizr-player .waveform, .js-vocalizr-player .waveform {
    position: relative;
    cursor: pointer;
}

.vocalizr-player .waveform {
    height: calc(var(--waveform-height) + var(--height-modification));
}

.user-audio-wrap .btn-like {

}

.profile-audio-preview-container .track-play {
    width: 60px;
}

.middle-player-container .vocalizr-player, .big-player-container .vocalizr-player {
    align-items: center;
}

.middle-player-container .vocalizr-player .play-btn {
    min-height: 35px;
    min-width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-bottom: 6px !important;
}

.middle-player-container .vocalizr-player .play-shape.paused {
    border-width: 0 0 0 10px;
    margin-left: 0;
    height: 10px;
}

.big-player-container .vocalizr-player .play-btn {
    min-height: 48px;
    min-width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0 !important;
}

.big-player-container .vocalizr-player .play-shape {
    margin-top: 0;
    border-width: 11px 0 11px 20px;
}

.big-player-container .vocalizr-player .play-shape.paused {
    border-width: 0 0 0 17px;
    height: 22px;
}

.big-player-container .track-label-container {
    margin-bottom: -1px;
    margin-left: 66px;
}

.big-player-container .vocalizr-player .track-time {
    bottom: 14px;
}

.big-player-container .vocalizr-player .play-shape.paused {
    margin-left: 0;
}