{% extends 'include/panel/popup_panel.html.twig' %}
{% block header_left %}ACCESS ALL PRODUCERS{% endblock %}
{% block header_right %}<img alt="pro" src="{{ asset('images/vocalizr_pro_stamp.svg?v5.1') }}" class="svg-stamp-pro access-pass-modal">{% endblock %}
{% block note %}ACCESS PASS{% endblock %}
{% block body %}
    <p class="body" style="line-height: 1.25;">
        There are <b>{{ countProducers() }}</b> more music producers on Vocalizr ready to be discovered by you. Upgrade now to access them all.
    </p>
{% endblock %}
{% block footer %}
    <a href="{{ path('stripe_identity_intents') }}" class="btn btn-primary" id="identity-intents">
        UPGRADE TO ACCESS PASS
    </a>
{% endblock %}