{% extends 'include/panel/popup_panel.html.twig' %}
{% block header_left %}ASSETS UPLOADED{% endblock %}
{% block header_right %}
    <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="23" height="23" rx="11.5" fill="#57B35B"/>
        <path d="M9.41538 16.3672L5.19037 12.203C4.93654 11.9528 4.93654 11.5472 5.19037 11.2969L6.10959 10.3909C6.36342 10.1407 6.775 10.1407 7.02883 10.3909L9.875 13.1961L15.9712 7.18764C16.225 6.93745 16.6366 6.93745 16.8904 7.18764L17.8096 8.09366C18.0635 8.34385 18.0635 8.74949 17.8096 8.99969L10.3346 16.3673C10.0808 16.6174 9.66921 16.6174 9.41538 16.3672Z" fill="white"/>
    </svg>

{% endblock %}
{% block note %}<span style="font-size: 14px;line-height: 17px; font-weight: 300;">We are now generating low quality mp3 previews to protect your assets.</span>{% endblock %}
{% block body %}
    <div class="body" style="font-size: 14px;line-height: 17px; font-weight: 300;">
        <b>These previews will be available in around 5 minutes.</b> Refresh the page then to see the assets and previews.
    </div>
{% endblock %}
{% block footer %}
    <a href="#" class="btn btn-primary">Ok, thanks</a>
{% endblock %}