{% extends 'include/panel/upgrade_to_unlock_panel.html.twig' %}
{% block note %}UPGRADE TO <b>ACCESS PASS</b> TO UNLOCK BID MESSAGING{% endblock %}
{% block benefits_li %}
    <li>Unlock Gig Bid Messaging</li>
    <li>Employer Gig fee dropped from 10 to 0%</li>
    <li>Connections & Messaging</li>
{% endblock %}
{% block footer_link %}{{ path('user_upgrade', {
    'source': constant('App\\Service\\MembershipSourceHelper::SUB_SOURCE_BID_MESSAGING_MODAL'),
    'return': true
}) }}{% endblock %}
