{% extends 'include/panel/upgrade_to_unlock_panel.html.twig' %}
{% block note %}UPGRADE TO <b>ACCESS PASS</b> TO UNLOCK HIRE NOW REQUESTS{% endblock %}
{% block benefits_li %}
    <li>Direct Hire Now requests</li>
    <li>Gig fees dropped from 10 to 0%</li>
    <li>Connections & Messaging</li>
{% endblock %}
{% block footer_link %}{{ path('user_upgrade', {
    'source': constant('App\\Service\\MembershipSourceHelper::SUB_SOURCE_HIRE_NOW_MODAL'),
    'return': true
}) }}{% endblock %}
