{% extends 'include/panel/upgrade_to_unlock_panel.html.twig' %}
{% block header_left %}GET FASTER WITHDRAWS{% endblock %}
{% block note %}<b>ACCESS PASS</b> UNLOCKS 24HR PROCESSING{% endblock %}
{% block benefits_li %}
    <li>
        24hr Withdrawals to PayPal<br>
        (Reduced from 5 days for Free Users)
    </li>
    <li>Connections & Messaging</li>
{% endblock %}
{% block footer_link %}{{ path('user_upgrade', {
    'source': constant('App\\Service\\MembershipSourceHelper::SUB_SOURCE_INSTANT_WITHDRAWALS_MODAL'),
    'return': true
}) }}{% endblock %}
