<div class="modal-dialog popup-panel {% block classes %}{% endblock %}">
    <div class="voc-panel">
        <div class="heading">
            <div class="left-block">{% block header_left %}{% endblock %}</div>
            <div class="right-block">{% block header_right %}{% endblock %}</div>
        </div>
        <div class="content">
            <div class="main">
                {% block main %}
                    <p class="note">{% block note %}{% endblock %}</p>
                    {% block body %}{% endblock %}
                {% endblock %}
            </div>
            <div class="content-footer">
                {% block footer %}{% endblock %}
            </div>
        </div>
    </div>
</div>
{% block after_modal %}{% endblock %}