{% extends "@VocalizrApp/User/include/pro-plan-panel.html.twig" %}
{% block main_title %}More than 50% off <b>PRO</b> for 2 Months!{% endblock %}
{% block plan_cost %}
    <b>4.99</b> / month
    <div class="small">
        4.99 for 2 months
        <br>
        then 10.99 per month. <b>No Fees for 3 months</b>
    </div>
{% endblock %}
{% block badge_recommend %}Stay At Home Special{% endblock %}
{% block panel_footer %}
{% endblock %}