/tmp
/uploads*
/web/uploads*
!/web/uploads/avatar/medium/.gitkeep
.vagrant
.svn
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/app/cache
/app/cache/*
!app/cache/.gitkeep
!/app/logs
/app/logs/*
!app/logs/.gitkeep
!/app/sessions
/app/sessions/*
!app/sessions/.gitkeep
!var/SymfonyRequirements.php
/web/bundles/
/.idea
/web/waveform/*
!/web/waveform/.gitkeep
/web/js/*
/web/css/*
!/web/js/.gitkeep
!/web/css/.gitkeep
/nbproject/private/
/nbproject
/html/index.html
credentials.txt
/src/Vocalizr/AppBundle/Resources/config/stripe_products_loc.yml

!/docker/mongo/data/.gitignore
/docker/mongo/data/*