.stats-dropdown-filter {
    float: right;
    cursor: pointer;
    background: #3a4b55;
    border-radius: 3px;
    padding: 15px 20px;
}
.stats-dropdown-filter .dropdown-menu {
    width: 171px;
}
.stats-dropdown-filter:hover {
    background: #202f38;
}
.stats-dropdown-filter .dropdown-upgrade {
    padding: 10px;
}
.dropdown-menu {
    margin-top: -3px;
    border-top: 0px;
    margin-left: -1px;
}
.stats-filter-rangeTitle {
    font-size: 20px;
}
.stats-filter-range {
    font-size: 12px;
}

h3 small {
    color: #778892;
}

.stat-user-wrap {
    border: 1px solid #3a4b55;
    border-radius: 2px;
    padding: 14px 24px;
    text-align: center;
}
.btn-action {
    width: 100%;
}
.stat-user-avatar {
    position: relative;
    display: block;
}
.vocalizr-certified {
    position: absolute;
    bottom: 0;
    right: 54px;
}
.stat-user-name {
    margin-top: 12px;
}
.stat-user-info {
    margin-top: 10px;
}
.stat-user-country {
    font-size: 12px;
}
.stat-user-timeago {
    font-size: 12px;
    color: #778892;
}
.btn-action {
    margin-bottom: 10px;
}
.no-stats {
    background: #3a4b55;
    text-align: center;
    padding: 100px 0;
    color: #fff;
    margin-top: 39px;
    font-size: 18px;
}