.highlight-bid-modal {
    width: 417px;
}

.highlight-bid-modal .voc-panel {
    width: 411px;
}

.highlight-bid-modal .voc-panel .heading {
    padding: 17px 30px 12px 25px;
    font-weight: 500;
}

.highlight-bid-modal .voc-panel .content {
    padding: 16px 26px 15px 25px;
}

.highlight-bid-modal .voc-panel .content .main .body {
    line-height: 17px;
}

.highlight-bid-modal small.small {
    padding-left: 8px;
    font-weight: 500;
    font-size: 9px;
    line-height: 11px;
    color: #8498A2;
}

.highlight-bid-modal .options {
    padding: 30px 0;
}

.highlight-bid-modal .option .iradio_polaris {
    padding-bottom: 47px;
}

.highlight-bid-modal .option.free .iradio_polaris {
    padding-bottom: 39px;
}

.highlight-bid-modal .option {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}

.highlight-bid-modal .option img {
    margin-right: -5px;
}

.highlight-bid-modal .iradio_polaris {
    margin-left: 0;
}

.highlight-bid-modal .option label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0;
    margin-left: 15px;
}

.highlight-bid-modal .option .title {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    padding-bottom: 16px;
}

.highlight-bid-modal .option.free .title {
    padding-bottom: 7px;
}

.highlight-bid-modal .option .title :first-child {
    color: #8498A2;
}

.highlight-bid-modal .option label {
    text-transform: none;
}

.highlight-bid-modal .content-footer {
    display: flex;
    flex-direction: column;
}

.highlight-bid-modal .content-footer .btn {
    margin-bottom: 11px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    color: #FFFFFF;
    font-weight: 700;
    margin-left: 1px;
}

.highlight-bid-modal .content-footer .btn-secondary {
    background: #8498A2;
}

.edit-contest-panel .iradio_polaris, .black-check .iradio_polaris {
    margin-left: 9px;
    background-image: url('../images/polaris_black.png');
}

.btn.btn-show-bid-highlight-modal {
    background-color: #01c2e5;
    font-size: 10px !important;
    margin-right: 10px;
    margin-left: 10px;
}



@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
    .edit-contest-panel .iradio_polaris {
        background-image: url('../images/polaris_black2x.png');
    }
}

@media (min-width : 320px) and (max-width : 768px) {
    .highlight-bid-modal {
        width: 100%;
        max-width: 450px;
        margin-top: 71px;
        padding: 5px;
    }

    .highlight-bid-modal .voc-panel {
        width: 100%;
    }

    .highlight-bid-modal .voc-panel .heading {
        padding: 19px 13px 19px 20px;
    }

    .highlight-bid-modal .voc-panel .content {
        padding: 20px 17px 15px 16px;
    }

    .highlight-bid-modal .voc-panel .content .main .body {
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
        margin-right: -7px;
    }

    .highlight-bid-modal .options {
        padding: 22px 0;
        margin-left: -8px;
        margin-right: 4px;
    }

    .highlight-bid-modal .option {
        padding-bottom: 4px;
    }

    .highlight-bid-modal .option .title {
        font-size: 12px;
        line-height: 14px;
        padding-bottom: 11px;
    }

    .highlight-bid-modal small.small {
        padding-left: 4px;
        font-size: 8px;
    }
}