.private-message-actions {
    margin-bottom: 8px;
}
.private-message-actions .btn {
    float: right;
    margin-right: 21px;
}
.private-message-actions .dropdown {
    float: right;
    margin-top: 11px;
}
.private-message-actions .more {
    font-size: 26px;
    cursor: pointer;
    margin-top: 3px;
}
.private-message-actions .dropdown-menu {
    margin-left: -124px;
    margin-top: 20px;
}
.btn-thread-load i {
    color: #fff;
}