.blocks-container {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 85px min-content max-content;
    grid-template-areas:    "space1 center space3"
                            "left   center right"
                            "space2 center space4";
    justify-content: center;
    width: 100%;
}

.plan-cell-1 {
    grid-area: left;
}

.plan-cell-2 {
    grid-area: center;
}

.plan-cell-3 {
    grid-area: right;
}

.bottom-btn {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    margin-left: 0!important;
}

.bottom-btn-container {
    min-height: 86px;
    width: 100%;
}

.plan-container-block{
    position: relative;
    font-weight: 500;
    text-align: left;
    color: rgba(255, 255, 255, 0.91);
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
}

.plan-container{
    border-radius: 3px;
    padding-left: 27px;
    border: solid 2px #8598a3;
    height: 100%;
}

.container-title{
    margin-top: 38px;
    font-size: 36px;
    margin-bottom: 23px;
}
.plan-container span {
    font-size: 20px;
    letter-spacing: -0.5px;
}
.current-plan{
    margin-bottom: 55px;
}
.basic-plan-features{
    font-size: 14px;
    font-weight: 900;
    text-align: center;
    margin-right: 46px;
    margin-left: 16px;
    margin-bottom: 29px;
}
.basic-plan-features ul{
    list-style-type: none;
    padding-left: 0;
}

.basic-plan-features li{
    margin-bottom: 25px;
}
.basic-plan-features p{
    font-weight: 500;
    color: #8598a3;
}
.middle .plan-container{
    border: solid 2px #30b9d6;
    box-shadow: 0 28px 38px 8px rgba(0, 0, 0, 0.25);
}


.plan-container .added-feature{
    position: absolute;
    border-radius: 2px;
    background-color: #ff2f52;
    box-shadow: 3px 2px 11px 1px rgba(0, 0, 0, 0.17);
    right: 0;
    top: 20px;
    padding: 8px 10px;
    font-size: 16px;
}
.plan-container .pro-span{
    line-height: 1px;
    font-size: 10px;
    padding: 8px;
    margin-left: 10px;
    position: absolute;
    margin-top: 2px;
}
.upgrade-button{
    text-align: center;
    padding: 25px 0;
    margin-left: -27px;
}
.annual.plan-container{
    border: solid 2px #06aa75;
}
.container-title .green-price{
    color: #06aa75
}

.container-title .blue-price{
    color: #30b9d6
}

.annual-plan-features{
    font-size: 28px;
    text-align: center;
    margin-left: 20px;
    margin-right: 47px;
    line-height: 1.75;
    margin-bottom: 28px;
}

.annual .upgrade-button .btn{
    background-color: #06aa75;
    border-color: #06aa75;
}
.annual .upgrade-button .btn:hover{
    background-color: #009a63;
    border-color: #009a63;
}

span.title-span{
    font-size: 36px;
    letter-spacing: normal;
}

@media (max-width: 991px) and (min-width: 768px) {
    .container-title .title-span{
        display: block;
    }
}

@media (max-width: 768px) {
    .blocks-container {
        grid-template-areas:    "left"
                                "center"
                                "right";
        grid-template-columns: minmax(min-content, 450px);
        grid-template-rows: auto;
        grid-gap: 10px;
    }
}

@media (max-width: 768px) and (min-width: 470px) {
    .panel-default.payment-panel{
        width: 430px!important;
        margin-left: auto!important;
        margin-right: auto;
        margin-top: 0;
        float: none;
    }
}

@media (max-width: 470px) {
    /*.small.plan-container-block, .middle.plan-container-block{*/
        /*width: 100%!important;*/
        /*margin-top: 0;*/
        /*float: none;*/
        /*margin-bottom: 15px;*/
    /*}*/
    .panel-default.payment-panel{
        width: 100%!important;
        margin-top: 0;
        margin-left: auto!important;
        margin-right: auto;
        float: none;
    }
}
.btn-upgrade[disabled]{
    background-color: #9b9b9b !important;
    border-color: #9b9b9b !important;
}

.page-container.not-margin-top{
    margin-top: -20px;
}
.upgrade-page .middle.plan-container-block{
    width: 100%
}

.payment-panel{
    box-shadow: 0 8px 28px 0 rgba(0, 0, 0, 0.25);
    margin-top: 149px
}
.upgrade-page .container-title{
    min-height: 80px;
}


.subscribed .small.plan-container-block{
    margin-left: 15%;
}