.gig-header .vocalizr-player-container {
    padding-top: 0;
    padding-bottom: 5px;
}
.asset-audio .vocalizr-player-container {
    padding-bottom: 7px;
}
.comment-player-container .track-time {
    bottom: 15px;
}
.comment-player-container .vocalizr-player-container {
    padding-bottom: 0;
}
.agreement-images-container > img {
    width: 100%;
}

.agreement-images-container > img + img {
    padding-top: 25px;
}