.row.no-margin {
    margin-left: -22px;
    margin-right: -19px;
}

.job-title-block {
    display: flex;
    justify-content: space-between;
    padding-top: 2px;
}

.addon-option .icheckbox_polaris {
    margin-left: 9px;
    background-image: url('../../public/images/polaris_black.png');
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
    .addon-option .icheckbox_polaris {
        background-image: url('../../public/images/polaris_black2x.png');
    }
}

.addon-option {
    display: table-cell;
    width: 50px;
    vertical-align: middle;
}
.addon-option .icheckbox_polaris {
    margin-top: -2px;
}
.addon-item {
    display: flex;
    margin-bottom: 23px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}
.addon-item .addon-price, .addon-item .addon-main {
    padding: 10px;
    background: #3a4b55;
    display: inline-block;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
}
.addon-item .addon-main {
    width: 70%;
    overflow: hidden;
}
.addon-item .addon-price {
    padding-top: 4px;
    padding-bottom: 0;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    /*min-height: 0;*/
}
.addon-item.lock-cert .addon-price {
    /*padding: 3.4% 5px;*/
}
.addon-item .addon-price.free {
    margin-right: 18px;
    margin-left: 18px;
}
.addon-item .addon-price.pro {
    background-color: #1E2F36;
    padding-bottom: 0;
}
.addon-item.selected .addon-main {
}
.addon-item.lock-cert .addon-main {
    background-color: #304967;
    border: 1px solid #268AFF;
    padding-top: 16px;
    padding-bottom: 14px;
    padding-right: 15px;
}
.addon-item.lock-cert .addon-option {
    width: 41px;
}
.addon-item.lock-cert .addon-icon-container {
    width: 53px;
}
.addon-item.lock-cert .addon-icon-container svg {
    margin-top: 6px;
}
.addon-item.lock-cert .addon-title {
    font-weight: 900;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 8px;
}
.addon-item.lock-cert .addon-desc {
    font-size: 12px;
    line-height: 17px;
}
.addon-item.lock-cert .addon-price.pro {
    background-color: #304967;
    border: 1px solid #268AFF;
}
.addon-item.lock-cert .addon-price.free {
    border: 1px solid transparent;
}
.addon-item.lock-cert.selected .addon-main {
}

.addon-item.highlight-addon .addon-main {
    border: 1.5641px solid #34C2E5;
}

form#publish-form.subscribed .addon-item .addon-price.free {
    color: #526672;
}
.addon-icon-container {
    width: 46px;
    display: table-cell;
    vertical-align: middle;
}
.addon-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #34C2E5;
    text-align: center;
    display: table-cell;
    position: relative;
}
.addon-icon i {
    color: #fff;
    font-size: 14px;
    padding-right: 1px;
}
.addon-icon svg {
    position: absolute;
}
.addon-icon i.bigger {
    color: #f6f6f6;
    font-size: 21px;
}
.addon-info {
    display: table-cell;
    vertical-align: top;
    position: relative;
}
.addon-title {
    margin-top: 3px;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
}
.addon-desc {
    color: #A8ACB1;
    font-size: 12px;
    line-height: 13px;
    font-weight: 500;
}
.publish-container h1 {
    font-size: 30px;
    margin-bottom: 10px;
    color: #34C2E5;
}
.publish-container h2 {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    margin-left: 3px;
    margin-bottom: 3px;
}
.edit-job {
    margin-top: 3px;
    margin-right: 7px;
    height: 32px;
    font-size: 14px;
    padding: 5px 17px;
    font-weight: 500;
    background: #526672;
    box-shadow: 0 1.5641px 0 rgba(0, 0, 0, 0.25);
    border-radius: 2.08547px;
}
.publish-container .headers {
    display: block;
    width: 100%;
    text-align: right;
    margin-bottom: 6px;
}
.publish-container .headers .pro-header, .publish-container .headers .free-header {
    display: inline-block;
    font-size: 12px;
    margin-bottom: 6px;
    width: 15%;
    text-align: left;
    line-height: 14px;
    padding-left: 5px;
}
.publish-container .headers .free-header {
    margin-right: 10px;
}
.publish-container .subscription {
    text-align: right;
    margin-top: 28px;
}
.publish-container .subscription a.btn-upgrade-pro {
    background: #04AF64;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    padding: 8px 43px 8px 36px;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    margin-left: 35px;
}

.publish-container .subscription a.btn-upgrade-pro.subscribed {
    box-shadow: inset 0 7px 10px rgba(0, 0, 0, 0.25);
}

.publish-container .subscription p {
    display: inline-block;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    margin-top: 5px;
}
.publish-container .total-upgrades {
    display: flex;
    height: 57px;
    margin-top: 45px;
    background: linear-gradient(to right,  #1E2F36 0%,#1E2F36 50%,#17242B 50%,#17242B 100%);
    width: 220px;
    -webkit-box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 0;
    margin-left: auto;
}
.publish-container .upgrades-label {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 49%;
    color: #526672;
    font-size: 22px;
    font-weight: 500;
}
.publish-container .upgrades-value {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 49%;
    color: #fff;
    font-size: 22px;
    font-weight: 500;
}
.publish-container button.btn-primary {
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    padding: 7px 0;
    width: 220px;
    font-size: 16px;
    margin-left: 15px;
    text-transform: uppercase;
}
.addon-item .addon-main .addon-info div.blue-line {
    background: #34C2E5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    width: 15px;
    height: 97px;
    top: -52px;
    right: -71px;
    transform: rotate(135deg);
}

.publish-container .grayed-text {
    color: #90A1AB;
}

.commission-fee {
    margin-top: 39px;
    display: flex;
    justify-content: flex-end;
    font-size: 13px;
}

.commission-fee .commission-option {
    width: 91.6px;
    text-align: center;
    font-size: 13px;
}

.commission-fee .commission-option.free {
    margin-left: 29px;
    margin-right: 1px;
}

.commission-fee .commission-option.pro {
    margin-right: 14px;
}

.subscribed .commission-fee .commission-option.free {
    color: #90A1AB;
}

.publish-container .total-upgrades-group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 15px;
}

.publish-container .total-upgrades-group .upgrades-fineprint {
    font-size: 10px;
}

.publish-contest .total-upgrades {
    margin-top: 0;
    margin-left: 21px;
}

.publish-container .form-actions {
    margin-top: 29px;
}

.publish-container .fee-calculator {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 39px;
}

.publish-container .fee-calculator .calculator-item {
    display: flex;
    font-weight: 500;
    padding-bottom: 15px;
}

.publish-container .fee-calculator .calculator-item .calculator-title {
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    letter-spacing: 0.02em;
    color: #90A1AB;
}

.publish-container .fee-calculator .calculator-item .calculator-value {
    width: 144px;
    padding-left: 69px;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.publish-container .link-cancel {
    margin-right: 12px;
}