/*
Styles specific to the website. This stylesheet should not be used on any of the 
application pages
*/
/* 
    Created on : 17/02/2014, 4:53:37 PM
    Author     : roberthomewood
*/
/* Fonts */
@font-face {
    font-family: 'Museo Sans';
    src: url('../../fonts/museosans_100-webfont.eot');
    src: url('../../fonts/museosans_100-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/museosans_100-webfont.woff') format('woff'),
         url('../../fonts/museosans_100-webfont.ttf') format('truetype'),
         url('../../fonts/museosans_100-webfont.svg#museo_sans100') format('svg');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Museo Sans';
    src: url('../../fonts/museosans_300-webfont.eot');
    src: url('../../fonts/museosans_300-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/museosans_300-webfont.woff') format('woff'),
         url('../../fonts/museosans_300-webfont.ttf') format('truetype'),
         url('../../fonts/museosans_300-webfont.svg#museo_sans100') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Museo Sans';
    src: url('../../fonts/museosans_500-webfont.eot');
    src: url('../../fonts/museosans_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/museosans_500-webfont.woff') format('woff'),
         url('../../fonts/museosans_500-webfont.ttf') format('truetype'),
         url('../../fonts/museosans_500-webfont.svg#museo_sans100') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Museo Sans';
    src: url('../../fonts/museosans_700-webfont.eot');
    src: url('../../fonts/museosans_700-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/museosans_700-webfont.woff') format('woff'),
         url('../../fonts/museosans_700-webfont.ttf') format('truetype'),
         url('../../fonts/museosans_700-webfont.svg#museo_sans100') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Museo Sans';
    src: url('../../fonts/museosans_900-webfont.eot');
    src: url('../../fonts/museosans_900-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/museosans_900-webfont.woff') format('woff'),
         url('../../fonts/museosans_900-webfont.ttf') format('truetype'),
         url('../../fonts/museosans_900-webfont.svg#museo_sans100') format('svg');
    font-weight: 900;
    font-style: normal;
}

html,
body {
    color: #676d71;
    font-weight: 300;
    background: #fff;
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Museo Sans', 'Arial';
    height: 100%;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Museo Sans', 'Arial';
    font-weight: 100;
}
@media (min-width: 768px) {
    .container {
        max-width: 970px;
    }
}
.home-header {
    width: 100%;
    text-align: center;
    color: #fff;
    height: 100%;
}
.home-splash {
    background: url(../images/website/new-website-header.jpg?v2) no-repeat center center #23313a;
    background-size: cover;
    width: 100%;
    padding-top: 95px;
    padding-bottom: 162px;
    height: 100%;
}
.home-splash>h1 {
    font-weight: 100;
    font-size: 48px;
    margin-top: 80px;
    margin-bottom: 83px;
}
.scroll-prompt {
    font-size: 40px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    color: #14b9d6;
    display: block;
    font-weight: 100;
}
.scroll-prompt:hover{
    cursor: pointer;
}
@media (max-height: 540px) {
    .scroll-prompt {
        display: none;
    }
}
.home-splash>h2 {
    font-weight: 100;
    font-size: 24px;
    color: #14b9d6
}
.nav-wrapper.affix {
    top: 0;
    width: 100%;
    z-index: 5000;
}
.affix + div {
    margin-top: 70px;
}
.navbar {
    border: none;
    border-radius: 0;
    background: #fff;
    padding: 18px 18px 14px 18px;
    margin-bottom: 0;
    box-shadow: 0 3px 2px rgba(0,0,0,.15);
    height: 70px;
}
.btn-login {
    background: #526672;
    border-radius: 2px;
    color: #fff;
    box-shadow: inset 0 -2px 0 rgba(17, 34, 45, 1);
    border: none;
}
.btn-login:hover {
    color: #fff;
    background: #5f7582;
    box-shadow: inset 0 -2px 0 rgba(17, 34, 45, 1);
}
.home-splash .btn-login {
    padding: 13px 19px;
}
.btn-signup {
    background: #14b9d6;
    color: #fff;
    border-radius: 2px;
    box-shadow: inset 0 -2px 0 rgba(13, 141, 164, 1);
    border: none;
    margin-right: 8px;
}
.btn-signup:hover {
    color: #fff;
    background: #17a1b9;
}
.home-splash .btn-signup {
    padding: 13px 19px;
    box-shadow: inset 0 -2px 0 rgba(17, 34, 45, 1);
}
.btn-find {
    border-radius: 2px;
    color: #fff;
    background: #049ab5;
    box-shadow: inset 0 -2px 0 rgba(13, 141, 164, 1);
    border: none;
}
.btn-find:hover {
    background: #028ba3;
    color: #fff;
}
.content-wrapper {
    text-align: center;
}
.content-wrapper.text-left {
    text-align: left;
}
.content-wrapper p {
    padding-left: 30px;
    padding-right: 30px;
}
.content-wrapper h4 {
    font-size: 24px;
    font-weight: 300;
}
.types-intro {
    background: #14b9d6;
}
.user-type {
    text-align: center;
    padding: 81px 30px 84px;
    color: #fff;
}
.user-type>img {
    margin-bottom: 20px;
}
.user-type>h3 {
    font-weight: 300;
    font-size: 32px;
}
.user-type p {
    line-height: 1.8;
    margin: 0;
}
.user-type .btn-find {
    margin-top: 23px;
}

.std-content {
    padding: 53px 40px 0 40px;
    text-align: center;
}
.std-content.sub-page {
    padding-top: 31px;
    padding-bottom: 60px;
}
.sub-page hr {
    margin: 40px 0;
}
.std-content h1,
.what-is h2,
.profile-info h2,
.find-work h2,
.start-project h2,
.studio-and-safe h2 {
    font-size: 42px!important;
    color: #14b9d6;
    font-weight: 300!important;
    margin-bottom: 15px;
}
.std-content h2 {
    font-weight: 500;
    font-size: 24px;
}
.std-content h3 {
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: 500;
}
.std-content p {
    margin: 0 auto;
    line-height: 1.8;
    max-width: 680px;
}
.std-content p.extra-space {
    margin-bottom: 20px;
}
.profile-info {
    background: url(../images/website/profile_bg.png) no-repeat center center;
    background-size: cover;
}
.start-project {
    background: url(../images/website/project_bg.png) no-repeat center center;
    background-size: cover;
}
.studio-and-safe {
    padding-bottom: 103px;
}
.vocalizr-studio,
.safe-secure {
    padding-left: 30px;
    padding-right: 30px;
}
.sign-up {
    background: #526672;
    color: #fff;
    padding-top: 56px;
    padding-bottom: 75px;
}
.sign-up h3 {
    color: #fff;
    font-size: 29px;
    font-weight: 100;
}
.sign-up h3 span {
    font-weight: 300;
}
.sign-up .btn-signup {
    padding: 8px 20px;
    margin-left: 10px;
    height: 38px;
}
.sign-up input[type="email"] {
    border-radius: 2px;
    margin-top: -1px;
    width: 312px;
    height: 36px;
    border: none;
    box-shadow: inset 0 2px 2px rgba(0,0,0,.19);
    margin-bottom: 2px;
    padding-top: 7px;
}
.sign-up .form-inline {
    margin-bottom: 10px;
    margin-top: 25px;
}
.sign-up a {
    color: #14b9d6;
    font-weight: 300;
}
.screenshot {
    margin: 48px auto 0;
    width: 720px;
    height: 402px;
    overflow: hidden;
}
.screenshot.with-bg {
    background: url(../images/website/screenshot_bg.png) no-repeat center center;
    width: 764px;
    height: 435px;
    position: relative;
}
.screenshot.with-bg  img {
    position: absolute;
    bottom: 0;
    left: 24px;
}
.footer {
    background: #2f414c;
    height: 49px;
    font-size: 12px;
    color: #90a1ac;
    padding: 16px 0 12px;
}
#footer-nav {
    list-style: none;
    float: right;
}
#footer-nav li {
    display: inline-block;
    list-style: none;
    padding-left: 16px;
    padding-right: 16px;
    line-height: 12px;
    border-right: 1px solid #14b9d6;
}
#footer-nav li:last-child {
    border-right: none;
    padding-right: 0;
}
#footer-nav li a {
    color: #90a1ac;
}
#footer-nav li.share {
    padding-left: 0;
    padding-right: 6px;
    border-right: none;
    line-height: 16px;
}
#footer-nav li.share a {
    font-size: 16px;
}
#footer-nav li a:hover {
    color: #fff;
    text-decoration: none;
}
.terms,
.privacy {
    max-width: 640px;
}
.terms p,
.privacy p,
.contact p{
    padding-left: 0;
    margin-bottom: 18px;
}
.press p {
    margin: 0;
    padding: 0;
    margin-bottom: 18px;
}
.press hr {
    margin: 20px 0;
}
.press {
    margin-bottom: 60px;
}
.faqs h3 {
    margin-top: 25px;
}
.faqs p {
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}
.faqs hr {
    margin: 25px 0;
}
.contact {
    max-width: 480px;
    padding-bottom: 60px;
}
.contact label {
    position: relative;
    display: block;
}
.contact label .error {
    float: right;
    color: #ff0000;
    font-weight: normal;
}
.contact textarea {
    min-height: 100px;
}
.employer-define {
    margin: 40px auto;
    max-width: 640px;
}

.btn-contact {
    padding: 10px 17px;
    border-radius: 2px;
    color: #fff;
    background: #049ab5;
    box-shadow: inset 0 -2px 0 rgba(13, 141, 164, 1);
    border: none;
}
.btn-contact:hover {
    background: #028ba3;
    color: #fff;
}
.website-logo {
    width: 108px;
    height: 32px;
}
@media (max-width: 992px) {
    .home-splash {
        padding-top: 65px;
    }
    .home-splash>h1 {
        font-weight: 100;
        font-size: 40px;
        margin-top: 60px;
        margin-bottom: 63px;
    }
    .home-splash .btn-login {
        padding: 10px 15px;
    }
    .home-splash .btn-signup {
        padding: 10px 15px;
    }
}
@media (max-width: 870px) {
    .content-wrapper { 
        overflow: hidden;
    }
    .screenshot {
        margin: 36px auto 0;
        width: 680px;
        height: 380px;
        overflow: hidden;
    }
    .screenshot.with-bg {
        display: none;
    }
    .std-content {
        padding: 43px 40px 0 40px;
    }
    .find-work,
    .what-is,
    .studio-and-safe,
    .sign-up {
        padding-bottom: 83px;
    }
}
@media (max-width: 768px) {
    .types-intro {
        padding-bottom: 40px;
    }
    
    .user-type {
        padding-top: 50px;
        padding-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .screenshot {
        display: none;
    }
    .std-content {
        padding: 43px 40px 83px 40px;
    }
    .content-wrapper p {
        padding-left: 0;
        padding-right: 0;
    }
    .vocalizr-studio, .safe-secure {
        padding-left: 10px;
        padding-right: 10px;
    }
    .sign-up input[type="email"] {
        width: 100%;
    }
    .footer {
        height: auto;
    }
    #footer-nav {
        float: none;
        margin-left: 0;
        display: block;
        padding-left: 0;
        margin-top: 10px;
    }
    #footer-nav li.share {
        display: inline-block;
    }
    #footer-nav li {
        margin-left: 0;
        display: block;
        border-right: none;
        padding-left: 0;
        margin-top: 5px;
    }
    .contact {
        width: 100%;
        max-width: 100%;
        padding-bottom: 140px;
    }
}

@media (max-width: 380px) {
    .website-logo {
        width: 80px;
        height: 24px;
    }
    .home-splash>h1 {
        font-size: 20px;
    }
    .std-content h1,
    .what-is h2,
    .profile-info h2,
    .find-work h2,
    .start-project h2,
    .studio-and-safe h2 {
        font-size: 24px!important;
    }
    .std-content p, .user-type p {
        font-size: 12px;
    }
}