<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Download Audio</h4>
        </div>
        <div class="modal-body padding">
            
            <ol style="margin: 0; padding: 0 0 0 13px; margin-bottom: 15px;">
                <li>Ferry is looking for a polished & finished vocal - ROUGH DEMOS WILL NOT BE ACCEPTED. This is due to the timeline Ferry's team is running on for his album release. So do your absolute very best, and remember - if you don't win, 
                    you will soon be able to sell your acapella in Vocalizr's new Marketplace! (Coming Soon)</li>

                <li>We highly recommend listening to Ferry's Youtube Channel and his Hello World series to get an idea of what he is looking for. This will dramatically increase your chances of winning.</li>

                <li>The person with the highest public votes will be at the top of the ladder, this does not confirm winning the competition. It only indicates to Ferry who the public like the most, and is used solely for your exposure.</li>

            </ol>
            
            
            <p>By downloading this audio you agree to the <a href="/sfs-terms.pdf" target="_blank">Terms &amp; Conditions</a> regarding this search for a singer contest</p>
            
            
            <p><a href="{{ path('sfs_audio_download', {uuid: project.uuid} ) }}?agree=1" class="btn btn-primary btn-sm btn-agree-download">I AGREE & DOWNLOAD AUDIO</a>
            </p>
            
        </div>
    </div>
</div>