<div class="voc-panel">
    <div class="heading">
        You're one step away from doing great things!
    </div>
    <div class="content">
        <div class="main">
            <form id="user" method="post" name="user">
                {{ form_widget(form) }}
            </form>
        </div>
        <div class="content-footer">
            <button name="button" type="submit" class="btn btn-primary" form="user">Create your free account</button>
        </div>
    </div>
</div>