{% extends '::app.html.twig' %}

{% block title %}Email Changed{% endblock %}

{% block description %}You successfully changed your email address{% endblock %}

{% block body %}

    <h1>Email Changed</h1>


    <p>You successfully changed your email address to <strong>{{ user.getEmail }}</strong></p>
{% endblock %}