{% extends '::website.html.twig' %}


{% block body %}
<header class="home-header">
    <div class="home-splash">
        <a href="http://www.vocalizr.com"><img src="/images/logo_website.png" alt="vocalizr" title="Jump to the home page" width="146" height="44"></a>
        <h1>Connecting<br>Vocalists & Producers</h1>
        <h2>Launching tomorrow</h2>
    </div>
</header>



{% endblock %}