{% extends 'app.html.twig' %}

{% block title %}Vocalizer, Connecting Singers and Producers{% endblock %}

{% block description %}Vocalizer, where all the singers and producers meet{% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-8 page-content">
        <h1>The Vocalizr Story</h1>
        
        <h2>In the Beginning...</h2>

        <p>A couple of years ago Luke Chable, producer, DJ, and one of our founders, was hard at work on a new track. It was coming together nicely, but it needed vocals. He found himself in a position that many of his fellow producers often face -
            needing singers for tracks but having no way to find them. It was this common frustration that sparked the idea – an online platform where vocalists and producers from all over the world can connect.
            He reached out to a developer friend and, with two other knowledgeable guys, the Vocalizr team was formed. They set to work, and after months of development the first version of Vocalizr was released. 
            In 2012 we launched. Countless new features and improvements later, it is the site you see today.</p>

        <h2>But isn't it Spelled VocalizEr?</h2>

        <p>If you look up the definition of vocalizer you will find a definition along the lines of: 'a person who sings' or something similar to it. It falls under the same category as ‘instrumentalist’, ‘musician’, or ‘player’.
            If you look up vocalize you will find the same references to singing but also some broader ones. To vocalize is to articulate, express, convey. Vocalizr is about facilitating that relationship between
            singers and producers so that they can articulate, express, and convey through music. So vocalizer the noun, turned into Vocalizr the brand.</p>

        <h2>So, What Now?</h2>

        <p>Now, we at <a href="https://vocalizr.com">Vocalizer</a> are committed to growing and improving the platform so that it continues to meet the needs of producers and vocalists alike. So it continues to meet and exceed your needs. Whether you’re 
            a producer needing a <a href="/male-vocalists">male vocalist</a> or a <a href="/female-vocalists">female vocalist</a>, or whether you’re a singer looking for exciting new opportunities we’re here make it happen. It is our mission at Vocalizr
            to continue to provide an easy-to-use, safe, fun, 
            professional platform for gigs and collaboration while evolving with the industry as it changes. We will always strive to continue improving so you can articulate, collaborate and create. So you can find your voice.</p>

    </div>
</div>

{% endblock %}