<div class="voc-panel pro plan drop-shadow item">
    <div class="heading">
        Access Pass
        <div class="badge-recommend">{% block badge_recommend %}MOST VALUE{% endblock %}</div>
    </div>
    <div class="content">
        <div class="main">
            <p class="title">
                {% block main_title %}Get the Access Pass advantage{% endblock %}
            </p>
            <div class="plan-cost">
                {% block plan_cost %}
                <b>11.99</b> / month
                <div class="small">or $115 per year (save 20%)</div>
                {% endblock %}
            </div>
            <ul class="unstyled">
                {% block features %}
                    <li><b>100 Profile Tracks</b></li>
                    <li><b>60 Monthly Connections</b></li>
                    <li><b>Hire Now & Messaging</b></li>
                    <li><b>Start working on Vocalizr</b></li>
                    <li><span class="badge badge-new">NEW</span> <b>Advanced profile page</b></li>
                    <li>Advanced statistics</li>
                    <li>Spotify & Youtube integration</li>
                    <li>Save on fees</li>
                    <li>Zero fee&nbsp;<b>24hr payouts</b></li>
                {% endblock %}
            </ul>
        </div>
        <div class="content-footer">
            {% block panel_footer %}
            {% endblock %}
        </div>
    </div>
</div>
