{% extends 'include/panel/popup_panel.html.twig' %}
{% block header_left %}VERIFY YOUR EMAIL{% endblock %}
{% block note %}PLEASE NOTE{% endblock %}
{% block body %}
    <p class="body" style="line-height: 1.29; padding-right: 10px">
        To perform actions such as bids, posting jobs,
        connection requests and messaging, you need to verify your email first.
    </p>
{% endblock %}
{% block footer %}
    <a href="{{ path('resend_confirmation_email') }}" class="btn btn-primary" id="resend-email">
        Send email verification request
    </a>
{% endblock %}