<div id="deposit_failed_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="vocalizr-modal" aria-hidden="true">
    {% include 'include/panel/deposit_failed.html.twig' %}
</div>
<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        $('#deposit_failed_modal').modal('show');
    });
</script>