{% extends 'anonymous.html.twig' %}

{% block title %}Please check your email{% endblock %}

{% block description %}Please check your email to confirm your registration{% endblock %}

{% block body %}
<!-- Facebook Conversion Code for Vocalizr register -->
<script type="text/javascript">
var fb_param = {};
fb_param.pixel_id = '6014774752106';
fb_param.value = '0.01';
fb_param.currency = 'AUD';
(function(){
var fpw = document.createElement('script');
fpw.async = true;
fpw.src = '//connect.facebook.net/en_US/fp.js';
var ref = document.getElementsByTagName('script')[0];
ref.parentNode.insertBefore(fpw, ref);
})();
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6014774752106&amp;value=0.01&amp;currency=AUD" /></noscript>

<div class="container">
    <div class="register-wrap"> 
            <div class="rego-confirm">
                Check your email
            </div>
            <div class="light-content">
                <p>Awesome! We've just sent you an email.</p>
                <p>Check your email and click on the confirmation link to get started with vocalizr.</p>
                <p><a href="{{ path('_user_login') }}">&laquo; Back to login</a></p>
            </div>
    </div>
</div>
{% endblock %}