{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block description %}welcome, plans{% endblock %}

{% block body %}
	<div class="row">
		<div class="span8">
			<h4>Welcome to vocalizr</h4>
			<p>We are excited to have you on board.</p>
			<p>Vocalizr currently offer 2 different subscription options. You can either remain on our base subscription which gives you access to core vocalizr features. Or you can gain access to more exciting features and configuration options by choosing the premium subscription.</p>
			<p>A breakdown of the different subscription features is provided below. If you are unsure, don't worry you can change your subscription type at any time with no extra charges.</p>

			<div class="plan-wrap">
				<div class="plan-info">
					<div class="heading">Base Subscription</div>
					<div class="price">FREE</div>
					<ul class="charges">
						<li class="charge">3% of employer payment *</li>
						<li class="charge">10% of employee payment **</li>
					</ul>
					<ul class="features">
						<li class="feature">Basic profile with custom avatar</li>
						<li class="feature">1 audio file attached to your profile</li>
						<li class="feature">Unlimited gig creation</li>
						<li class="feature">Gigs created must be reviewed and approved by vocalizr customer service</li>
						<li class="feature">Submit up to 10 bids per month</li>
					</ul>
					<div class="continue">
						<a href="{{ path('dashboard') }}" class="btn btn-default">Base subscription is all I need!</a>
					</div>
				</div>
				<div class="plan-info">
					<div class="heading">Premium Subscription</div>
					<div class="price">USD $10.99 / month</div>
					<div class="charges">
						<div class="charge">0% of employer payment *</div>
						<div class="charge">5% of employee payment **</div>
					</div>
					<ul class="features">
						<li class="feature">Advanced profile with expanded profile text, custom avatar and custom banner</li>
						<li class="feature">Up to 5 audio files attached to your profile</li>
						<li class="feature">Social profile integration</li>
						<li class="feature">Unlimited gig creation</li>
						<li class="feature">Instant gig creation</li>
						<li class="feature">Unlimited bidding</li>
						<li class="feature">Repost expired gigs</li>
					</ul>
					<div class="upgrade-now">
						<a href class="btn btn-success" id="upgrade-subscription">Upgrade me now!</a>
					</div>
				</div>

				<div class="description-item">
					* The creator of the gig (employer) will be charged a percentage of their payment amount. e.g. on the free subscription, if paying an employee $100 for a gig, the employer will need to pay $103 to vocalizr ($100 for the employee, $3 for vocalizr). 
				</div>
				<div class="description-item">
					** The winner of the gig (employee) will have a percentage of their payment amount deducted by vocalizr. e.g. on the free subscription, if the employee is paid $100, vocalizr will receive $10 and the employee will have $90 transferred into their wallet.
				</div>
		</div>
	</div>





	<!-- Bid Modal -->
	<div id="subscribeModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="display:none;">
	    <div class="modal-header">
	        Upgrade to Premium Subscription!
	    </div>
	    <div class="modal-body">
	        <p>In order to upgrade to the premium subscription you will need a Paypal account.</p>
	        <p>The premium subscription costs USD $10.99 per month</p>
	        <p>By upgrading to the premium subscription you will have the discounted charges and extra features as outlined below: </p>
			<div class="charges">
				<div class="charge">0% of employer payment *</div>
				<div class="charge">5% of employee payment **</div>
			</div>
			<ul class="features">
				<li class="feature">Advanced profile with expanded profile text, custom avatar and custom banner</li>
				<li class="feature">Up to 5 audio files attached to your profile</li>
				<li class="feature">Social profile integration</li>
				<li class="feature">Unlimited gig creation</li>
				<li class="feature">Instant gig creation</li>
				<li class="feature">Unlimited bidding</li>
				<li class="feature">Repost expired gigs</li>
			</ul>

	    </div>
	    <div class="modal-footer">
	        <a href class="btn" data-dismiss="modal" aria-hidden="true">Cancel</a>
	        <a href class="btn btn-default">Setup my Subscription</a>
	    </div>
	</div>
{% endblock %}

{% block javascript %}
<script>
$('#upgrade-subscription').on('click', function(e) {
	e.preventDefault();
	$('#subscribeModal').modal({show:true});
});
</script>
{% endblock %}