{% extends '@VocalizrApp/Register/base/layout.html.twig' %}
{% block title %}{% if success %}E-mail confirmed!{% else %}An error occurred{% endif %}{% endblock %}
{% block description %}{% endblock %}
{% block wrap %}
    <div class="vertical-container register-success" style="--vertical-gap: 0">
        <div class="logo-header">
            <img src="{{ asset('images/logo_clean.png') }}" alt="vocalizr logo" width="122px" height="36px">
        </div>
        {% include 'VocalizrAppBundle::messages.html.twig' %}
        <div class="section-header">
            {% if success %}
                <h1>Fantastic! Your email is now verified.</h1>
            {% else %}
                <h1>Ooops! An error occurred: {{ error }}</h1>
            {% endif %}
        </div>
        <a href="{{ path('onboarding-membership') }}" class= "btn btn-primary" style="margin-top: 12px; font-size: 15px">Continue registration → </a>
    </div>
{% endblock %}