<div class="modal-dialog" style="width: 332px">
    <div class="voc-panel" style="width: 332px">
        <div class="heading" style="justify-content: flex-start; padding-left: 18px; font-size: 16px; background-color: #54b64f">
            VERIFICATION EMAIL SENT
        </div>
        <div class="content" style="padding-top: 24px; padding-left: 19px; padding-right: 19px;">
            <div class="main" style="padding-bottom: 28px">
                <p style="font-size: 14px; color: #fff; line-height: 1.29; padding-right: 10px">We have resent your verification email.</p>
                <p style="font-size: 14px; color: #fff; line-height: 1.29; padding-right: 10px">It should show up in your inbox soon. If not, be sure to check your spam folder.</p>
            </div>
            <div class="content-footer">
                <button class="btn btn-primary" data-dismiss="modal" id="resend-email" style="font-weight: 700;">Close</button>
            </div>
        </div>
    </div>
</div>