{% extends '@VocalizrApp/Register/base/layout.html.twig' %}
{% block title %}Confirm your email{% endblock %}
{% block wrap %}
    <div class="vertical-container register-success" style="--vertical-gap: 0">
        <div class="logo-header">
            <img src="{{ asset('images/logo_clean.png') }}" alt="vocalizr logo" width="122px" height="36px">
        </div>
        {% include 'VocalizrAppBundle::messages.html.twig' %}
        <div class="section-header">
            <h1>Please confirm your email</h1>
        </div>
        <a href="{{ path('resend_confirmation_email') }}" class="btn btn-primary" style="margin-top: 12px; font-size: 15px;">
            Resend verification email
        </a>
    </div>
{% endblock %}