Hey there <strong>{{ user.usernameOrFirstName }}</strong>!

<p>We're writing to let you know your Access Pass subscription has been cancelled due to non-payment. This usually happens when there are failed payments after multiple attempts.</p>

<p>You can re-upgrade at anytime with your new payment method below at <a href="{{ url('user_upgrade') }}">https://vocalizr.com/user/upgrade</a> (you must be logged in to do this).</p>

<p><a href="{{ url('user_upgrade') }}" style="color: #fff; font-size: 14px; background-color: #14b9d6; text-decoration: none; border-radius: 3px; padding: 8px 16px; border-width: 1px; border-style: solid; border-color: #1aadc7;">Upgrade to Access Pass</a></p>

