Hey <strong>{{ userInfo.usernameOrFirstName }}</strong>!

<p>Thanks for signing up to Vocalizr!</p>

<p>I hope you're enjoying the Vocalizr experience so far.</p>

<p style="color: #333333">We are really excited to be the first to offer a system for producers and vocalists from all over the world to connect and work together.<p>

<p>Make sure you visit our <a href="http://www.vocalizr.com/vocalists" style="color: #14b9d6; text-decoration: none;">vocalists page</a> often to keep up to date with the latest talented vocalists who have joined vocalizr.</p>

<p>Also, ensure your profile is complete with example audio of your voice and tagging of your vocal styles, characteristics and who you sound like.</p>

<p><a href="http://www.vocalizr.com/user/edit" style="text-decoration:none;padding: 5px 10px;background:#14b9d6;color:#fff;display: inline-block;">Update your profile</a></p>

<p>If you have any feedback or suggestions please do not hesitate to contact us.</p>