Hey <strong>{{ user.usernameOrFirstName }}</strong>!

<p>We have attempted to charge your credit card for your PRO Membership but unfortunately it did not go through. If you are keen to be a Pro Vocalizr member, please check the balance in your account and double check your card details.</p>

{% if next_payment_attempt %}
    <p>We will attempt to charge your card again on <strong>{{ next_payment_attempt|date('r') }}</strong>.<br>
    If you don't want the attempt to happen, please login and cancel your membership.</p>
    
    <p><a href="{{ url('user_edit') }}#membership" style="color: #fff; font-size: 14px; background-color: #14b9d6; text-decoration: none; border-radius: 3px; padding: 8px 16px; border-width: 1px; border-style: solid; border-color: #1aadc7;">Update Credit Card</a></p>
{% else %}
    <p>This was the last attempt to charge your credit card. Your PRO Membership will now be cancelled. You can subscribe to enable it again.</p>
    <p><a href="{{ url('user_edit') }}#membership" style="color: #fff; font-size: 14px; background-color: #14b9d6; text-decoration: none; border-radius: 3px; padding: 8px 16px; border-width: 1px; border-style: solid; border-color: #1aadc7;">Subscribe</a></p>
{% endif %}

