{% extends '::app.html.twig' %}

{% block title %}Admin{% endblock %}

{% block javascript %}
        {% javascripts
            '@VocalizrAppBundle/Resources/public/js/admin.js'
         %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script type="text/javascript">
            VocalizrAdmin.initProjectAdminSearch();
        </script>
{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-sm-2">
            <ul class="nav">
                {% include '@VocalizrApp/Admin/include/menu.html.twig' %}
            </ul>
        </div>
        <div class="col-sm-10 admin-projects">
            <h1>Projects</h1>
            <div class="light-content">
                <form id="admin-project-search-form" class="admin-search-form" action="{{ path('admin_projects_search') }}">
                    <div class="form-group">
                        <label for="searchTerm">Search gig title, gig id / creator email: </label>
                        <input type="text" id="search-term" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-default" id="project-search-btn">Search</button>
                </form>
            </div>
            <div class="results-container">

            </div>
        </div>
    </div>
{% endblock %}
