html, body {
    background: #fff;
    display: flex;
    flex-direction: column;
    color: #213038;
}
.page-wrap {
    width: 100%;
    max-width: min(974px);
    padding-left: 20px;
    padding-right: 20px;
    margin-left: -2px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;

    font-family: Museo Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
}
.header-image.moog-one {
    position: relative;
    min-height: min(450px, 32.5vw);
    background-size: cover;
    background-position: center 65%;
    background-image: url("/images/background/moog-one.jpg");
    background-color: #cba26e;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.header-image h1 {
    color: #fff;
    font-family: Museo;
    font-style: normal;
    font-weight: 900;
    font-size: min(98px, 8.2vw);
    line-height: 100%;
}

.logo-header {
    padding-top: 56px;
    padding-bottom: 57px;
}

h1.page-title span {
    display: inline-block;
    font-family: Museo;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    background-color: #17242b;
    padding-left: 7px;
    padding-right: 10px;
}

h1.page-title span + span {
    margin-top: 11px;
    line-height: 39px;
}

.main-text {
    padding-top: 10px;
    padding-right: 46px;
}

b {
    font-weight: 900;
}

p {
    margin-bottom: 21px;
}

ol {
    padding-left: 18px;
}

.gleam-widget-container {
    min-width: 451px;
    width: 451px;
    min-height: 651px;
}

.how-it-works {
    margin-top: 54px;
    margin-bottom: 69px;
}

.instrument {
    margin-bottom: 72px;
}

.instrument h2 {
    color: #000;
    font-weight: 900;
    font-size: 36px;
    line-height: 51px;
    font-family: "Museo";
    margin-bottom: 0;
}
.instrument h2 a {
    margin-left: 9px;
    font-size: 18px;
    color: #00BBD4;
    font-weight: 900;
}
.instrument .videos {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 910px) {
    .instrument .videos {
        flex-direction: column;
    }
    .instrument .videos {
        --horizontal-gap: 0 !important;
    }
    .instrument .videos iframe {
        max-width: calc(100vw - 40px) !important;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 768px) {
    .horizontal-container {
        flex-direction: column;
        --horizontal-gap: 0 !important;
    }
    .logo-header {
        padding-top: 22px;
        padding-bottom: 25px;
    }
    h1.page-title {
        margin-bottom: 12px;
    }
    h1.page-title > span {
        font-size: 25px;
        line-height: 44px;
    }
    .page-wrap {
        font-size: 16px;
    }

    .how-it-works {
        margin-top: 21px;
        margin-bottom: 21px;
    }

    .instrument {
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .instrument h2 {
        font-size: 24px;
    }

    .instrument h2 a {
        font-size: 18px;
    }

    .horizontal-container.main-block {
        flex-direction: column;
    }
    .gleam-widget-container {
        min-width: 0;
        min-height: 0;
        width: 100%;
    }
}