<div id="composeModal" class="modal-dialog">
    <div class="modal-content message-compose">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Private Message</h4>
        </div>
        <div class="modal-body">
            <form id="compose-message-form" action="{{ path('message_compose_private', {userId: toUser.id} ) }}" method="post">
                <div class="message-recipient">To: <a href="">{{ toUser.displayName }}</a></div>
                <div class="message-content">
                    {{ form_widget(form.content) }}
                    <button type="submit" name="send_message" class="btn btn-primary btn-med message-send">Send</button>
                </div>
            </form>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

<script>
    Message.initCompose();
</script>