<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Upgrade to PRO</h4>
        </div>
        <div class="modal-body padding">
            
            <p class="modal-error">{{ error }}</p>
            
            <a href="{{ path('membership') }}" class="btn btn-sm btn-primary" style="margin-right: 5px;">UPGRADE TODAY</a> Get unlimited messaging
            
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->