<div id="completeProfileModal" class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Update your profile</h4>
        </div>
        <div class="modal-body">
            <div class="modal-row">
                <p>Before you can continue you are required to upload an audio file to your profile.</p>
                
                <a href="{{ path('user_edit') }}#audio" class="btn btn-primary">Update my profile</a>
            </div>
        </div>
    </div>
</div>