{% for voteData in activityData %}
    {% embed 'Dashboard/activity/activityItem.html.twig' %}
        {% block badge %}<span class="badge badge-dark-grey">TAGS</span>{% endblock %}
        {% block activity_info %}
            <a href="{{ path('user_view', {username: voteData.user.username} ) }}">{{ actionedDisplayName }}</a>
            agrees with your tags:
            <div class="tags">
                {% for vote in voteData.votes %}
                    <a href="#">{{ vote.title }}</a>
                {% endfor %}
            </div>
        {% endblock %}
    {% endembed %}
{% endfor %}