<div class="voc-panel plan drop-shadow item">
    <div class="heading heading-certified">
        Are you ready to be certified?
    </div>
    <div class="content">
        <div class="main">
            <p class="description-certified">
                Certifications cost $19.99 yearly. Before beginning, please ensure your profile is fully filled out, with at least 3 tracks and a full bio / description, and you are sure you have satisfied the
                <a href="https://vocalizrhelp.zendesk.com/hc/en-us/articles/115008361208">requirements</a>.
            </p>
            <form method="post" {{ form_enctype(userCertifiedForm) }} id="certifiedForm">
                {{ form_rest(userCertifiedForm) }}
                <input class="btn btn-primary btn-pay" type="submit" name="submitForm" value="PAY & GET CERTIFIED NOW">
            </form>

        </div>
    </div>
</div>
