<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Upload Assets</h4>
        </div>
        <div class="modal-body padding">
            <div class="row form-group">
                <div class="col-sm-7">
                    <label for="studio-upload-audio-container">UPLOAD AUDIO:</label>
                    <span class="help-note">(SUPPORTED FILES: .aif .wav)</span>
                    <p>High quality studio files only.</p>
                    <ul>
                        <li>WAV & AIF</li>
                        <li>16bit - 24bit</li>
                        <li>44khz - 96khz</li>
                    </ul>
                    
                    <a id="upload-asset-btn" href="" class="btn btn-sm btn-default">SELECT ASSETS</a>
                </div>
            </div>

            <form id="upload-asset-form" action="{{ path('project_studio', {uuid: project.uuid}) }}#assets" method="post">
                <div id="upload-asset-container" data-url="{{ path('upload_audio') }}" data-extensions="{{ upload_audio_allowed }}" data-form="upload-asset-form">

                    <div id="asset-filelist"></div>
                    <div id="submit-assets" class="hide">
                        <button class="btn btn-primary" type="submit" name="submit_assets" value="submit_assets">Submit Assets</button>
                    </div>
                </div>
            </form>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

<script>
    AssetStudioUploader.init('upload-asset-container', 'upload-asset-btn');
</script>