<div id="agreement" class="tab-pane">
    <div class="row">
        <div class="col-sm-10 agreement-images-container">
            {% for page in 1..4 %}
                <img src="{{ path('project_studio_agreement_image', {uuid: project.uuid, index: page}) }}" loading="lazy" alt="Agreement, Page {{ page }}">
            {% endfor %}
        </div>
        <div class="col-sm-2">
            <p class="text-right"><a href="{{ path('project_studio_agreement', {uuid: project.uuid}) }}" class="btn btn-sm btn-default">DOWNLOAD AGREEMENT</a></p>
        </div>
    </div>
</div>