{% extends 'VocalizrAppBundle:Hint:gig_hint.html.twig' %}
{% block hint_text %}
    You could save on fees when you award your contest,
    by signing up to Access Pass for only <span class="white">$10.99 a month!</span>
{% endblock %}
