<div id="startModal" class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            <div class="body-col">
                <div class="start-icon contest"><i class="fa fa-trophy"></i></div>
                <p class="highlight">Start a Contest to <span style="color:#1dda73">hear the artist's ideas before you award</span>.</p>
                  <ol>
                    <li>Payment for a Contest is made up front when you post it (fully refundable).</li>
                    <li>Outline your requirements and award amount, then create your Contest.</li>
                    <li>Receive entries from Vocalizr artists.</li>
                    <li>Award the Contest to the most suitable entry and complete your project in the Vocalizr Studio.</li>
                  </ol>
                  <p class="text-center">More about contests in our <a href="{{ path('website_faq') }}#contests">FAQ</a></p>
                  <div class="text-center"><a href="{{ path('contest_new') }}" class="btn btn-green">Create Contest</a></div>
            </div>
            <div class="body-col">
                <div class="start-icon gig"><i class="fa fa-microphone"></i></div>
                <p class="highlight">Post a Gig to  <span style="color:#14b9d6">find artists for your project</span></p>
                  <ol>
                    <li>Payment for a Gig is made once you award it to an artist.</li>
                    <li>Outline your requirements and budget, then create your Gig.</li>
                    <li>Receive bids from Vocalizr artists.</li>
                    <li>Award the Gig to the most suitable bidder and begin your project in the Vocalizr Studio.</li>
                  </ol>
                <p class="text-center">More about gigs in our <a href="{{ path('website_faq') }}">FAQ</a></p>
                <a href="{{ path('project_new') }}" class="btn btn-primary">Create Gig</a>
            </div>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
