<div class="hint-modal" id="hint-modal-wrap">
    <div id="helpful-hint-modal-wrap">
        <div id="helpful-hint-modal" class="modal-dialog fadeInDown">
            <div class="hhm-header">
                <div class="bulb"><i class="fa fa-lightbulb-o"></i></div>
                <div class="hhm-title">
                    Did you know?
                    <span class="hashtag">#helpfulhint</span>
                </div>
            </div>
            <div class="hhm-content">
                <div class="hhm-description">
                    You could earn <span class="white">${{ (amount / 100) | number_format(0, '.', ',') }}</span> more on this Gig if you’re awarded,
                    by signing up to PRO for only <span class="white">$10.99 a month!</span>
                </div>
                <div class="hhm-buttons">
                    <a class="upgrade-btn hhm-btn" href="https://vocalizr.com/upgradenow"><span class="arrow-up">↑</span>UPGRADE NOW</a>
                    <a class="skip-btn hhm-btn" data-dismiss="modal" aria-hidden="true">No thanks, i’ll try my luck on the free plan!</a>
                </div>
                <div class="hhm-footer">
                    <a data-href="{{ path('user_bid_hint') }}" class="disable-btn hhm-btn">Close & don’t show this hint again</a>
                </div>
            </div>

        </div>
    </div>
</div>