Hey <strong>{{ userInfo.usernameOrFirstName }}</strong>!

<p>We thought you’d like to know that we’ve Certified your profile on Vocalizr for you.</p>

<p>A 'Certified Professional’ is deemed a professional by the experts at Vocalizr (us). The stamp is based on ability, experience, and skill level.</p>

<p>If you have any feedback or suggestions for the site, please let us know. We love hearing feedback as we are trying to make Vocalizr better for you!</p>

<p>Good luck and happy vocalizing!</p>


