<p style="margin-top: 30px;">Hey <strong>{{ marketplaceItem.userInfo.usernameOrFirstName }}</strong>,</p>

<h3>Good News!</h3>

<p>Your marketplace item <a href="{{ url('marketplace_item_view', {uuid: marketplaceItem.uuid}) }}">{{ marketplaceItem.title }}</a> has been approved.</p>

<p>Vocalizr Marketplace is currently in development and due to launch soon. We will let you know when we launch Marketplace and your item is published and available for sale.</p>

{% if not marketplaceItem.userInfo.isSubscribed %}
<p>
    <b>Hot Tip Alert!</b><br>
    To earn more with your Marketplace item, upgrade to PRO for $10.99 per month, and save up to $300 in commission fees.
</p>
{% endif %}

<div style="height: 10px;"></div>

<p>To stop getting these notifications please go to <a href="{{ url('user_edit') }}#pref" style="color: #14b9d6;">Preferences</a> under "Edit Profile".</p>
