Hey <strong>{{ user.usernameOrFirstName }}</strong>!

<p>Your Access Pass Membership has been cancelled, you have been downgraded to FREE Membership.</p>

<p>You can subscribe again to Access Pass Membership at anytime.</p>

<p>Please email us at <a href="mailto:support@vocalizr.com">support@vocalizr.com</a> with any feedback, we love to hear it!</p>

<p><a href="{{ url('user_edit') }}#membership" style="color: #fff; font-size: 14px; background-color: #14b9d6; text-decoration: none; border-radius: 3px; padding: 8px 16px; border-width: 1px; border-style: solid; border-color: #1aadc7;">Upgrade to Access Pass</a></p>

