{% set data = pf.data|jsonDecode %}
<div style="border-bottom: 1px dotted #ccc;padding: 10px 0;">
    {% if pf.objectType == "ProjectComment" %}
        <p><strong>{{ pf.fromUserInfo.displayName }} said...</strong><br>
            {{ data.comment }}
            {% if data.path is defined %}<br><br> <b>(Audio uploaded with commment)</b>{% endif %}
          
        </p>
    {% elseif pf.objectType == "ProjectAudio" %}
        <p><strong>{{ pf.fromUserInfo.displayName }} uploaded {% if data.flag == 'M' %}master track{% else %}latest recording{% endif %}</strong></p>
    {% elseif pf.objectType == "ProjectLyrics" %}
        <p><strong>{{ pf.fromUserInfo.displayName }} updated the lyrics</strong></p>
    {% else %}

    {% endif %}
</div>