{% extends 'email.html.twig' %}

{% block body %}

<p>Hello {{ result.fromUserInfo.usernameOrFirstName }},</p>

<p>After no action from the other party on this dispute on project <a href="{{ url('project_studio', {uuid: result.project.uuid} ) }}">{{ result.project.title }}</a>, the dispute has been closed in your favour.</p>
{% if result.amount > 0 %}
<p>You negotiated the amount of ${{ result.amountDollars }} to pay towards the other party. Any remaining money will be deposited into your Vocalizr Wallet.</p>
{% else %}
    <p>The full refund amount has been deposited into your Vocalizr Wallet.</p>
{% endif %}

{% endblock %}