{% extends '::email.html.twig' %}

{% block body %}

<h1>Active your account!</h1>

<div align="left" class="article-content">
    <p>Hello {{ userInfo.getFirstName }}!</p>

    <p>Thank you for registering with Vocalizr!</p>

    <p>Please visit the link below to activate your account and start creating your profile</p>
    <a href="{{ url('register_activate', {'unique_str': userInfo.uniqueStr }) }}">{{ url('register_activate', {'unique_str': userInfo.uniqueStr }) }}</a>
</div>
{% endblock %}