Hey <strong>{{ userAudio.userInfo.usernameOrFirstName }}</strong>!

<p>We have lost permission to let members listen to your Soundcloud Track: <a href="{{ userAudio.scPermalinkUrl }}">{{ userAudio.title }}</a></p>

<p><strong>It is important to have audio on your profile so you can be discovered and get paid work.</strong></p>

<p>Please login to either upload new audio or re-connect your Soundcloud account.</p>

<p><a href="{{ url('user_edit') }}" style="text-decoration:none;padding: 5px 10px;background:#14b9d6;color:#fff;display: inline-block;">Edit Your Profile</a></p>

