Hey <strong>{{ userAudio.userInfo.usernameOrFirstName }}</strong>!

<p>Vocalizr no longer has access to your SoundCloud account.</p>

<p>This means any audio you did have on your Vocalizr profile is no longer playable and has been removed.</p>

<p><strong>It is important to have audio on your profile so you can be discovered and get paid work.</strong></p>

<p>Please login to either upload audio to your account or re-connect your SoundCloud Account.</p>

<p><a href="{{ url('user_edit') }}" style="text-decoration:none;padding: 5px 10px;background:#14b9d6;color:#fff;display: inline-block;">Edit Your Profile</a></p>

