<div id="cancelModal" class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Cancel My Membership</h4>
        </div>
        <div class="modal-body">
            <div class="modal-row">
                <p>By cancelling your subscription you will lose access to all Access Pass features.</p>

                {% if membership %}
                    {% if membership.status == "trialing" %}
                      <p>Your cancellation will take affect on <strong>{{ membership.current_period_end|date('jS F, Y') }}</strong> at the end of your free trial.<br>You can resubscribe at any time.</p>
                    {% else %}
                      <p>Your cancellation will take affect on <strong>{{ membership.current_period_end|date('jS F, Y') }}</strong> at the end of your current billing period.</p><p>You can resubscribe at any time.</p>
                    {% endif %}

                    <p><hr></p>
                {% endif %}

                <p>To help us provide a better service, please give us a reason for your cancellation or provide us with feedback on our service.</p>

                <form action="{{ path('user_cancel_membership') }}" method="post">
                    <p><textarea name="reason" class="form-control" placeholder="Type your reason/feedback here...."></textarea></p>

                    <p><button type="button" class="btn btn-default btn-sm roll-alt" data-dismiss="modal" aria-hidden="true">BACK</button> <button type="submit" name="submit" class="btn btn-primary btn-sm" value="cancel">CANCEL MY MEMBERSHIP</button></p>
                </form>
            </div>
        </div>
    </div>
</div>
