{% extends 'Register/onboard_payment.html.twig' %}

{% block title %}Upgrade to Vocalizr Access Pass{% endblock %}

{% block pro_plan_panel %}
    {% embed "User/include/pro-plan-panel.html.twig" %}
        {% block main_title %}You’ve chosen the Access Pass advantage!{% endblock %}
        {% block panel_footer %}{% endblock %}
    {% endembed %}
{% endblock %}

{% block wrap %}
    {% if user_source.returnUrl %}
        <div class="page-close" style="position:absolute;right: 0;top: 0; z-index: 1000">
            <a class="close-btn" href="{{ user_source.returnUrl }}">×</a>
        </div>
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block payment_panel %}
    {% embed "User/include/payment-panel.html.twig" %}
        {% block panel_footer %}{% endblock %}
        {% block paypal_extra_fields %}
            {#<input type="hidden" name="return" value="{{ url('onboarding-success') }}" />#}
            {#<input type="hidden" name="cancel_return" value="{{ url('onboarding-membership') }}" />#}
            {#<input type="hidden" name="rm" value="1">#}
        {% endblock %}
    {% endembed %}
{% endblock %}
